[2018-08-03 07:57] keradus opened #3238 "PHPUnit 7.3: The attribute 'executionOrderType' is not allowed"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.0
| PHP version         | not related
| Installation Method | not related

[code]

ping @epdenouden

[2018-08-03 07:58] keradus commented on #3236
just in case - i can help with adding @internal everywhere with PHP CS Fixer

[2018-08-03 08:00] kubawerlos commented on #3237
[Changelog](https://github.com/sebastianbergmann/phpunit/blob/7.3.0/ChangeLog-7.3.md) claims it's disabled by default.

[2018-08-03 08:04] epdenouden commented on #3238
Hello @keradus! The attribute is called `executionOrder` while the element type as defined in the XSD is called `executionOrderType` :)

[2018-08-03 08:08] epdenouden commented on #3237
@kubawerlos Quick question: would you be fine with a revised changelog or you have a use case where the creation of the cachefile causes trouble? We would like to have the feature enabled if it doesn't interfere with use cases I didn't think of during development.

[2018-08-03 08:10] keradus commented on #3238
I took a name from XSD indeed.
so... we need a fix for that, right ?

[2018-08-03 08:11] sebastianbergmann commented on #3238
Is the XSD correct or is the code correct? :-)

[2018-08-03 08:11] kubawerlos commented on #3237
@epdenouden it's totally fine to have it enabled by default, only it came as surprise after reading Changelog.

[2018-08-03 08:13] sebastianbergmann commented on #3236
I know, thanks.

[2018-08-03 08:18] dmitry-ivanov commented on #3237
+1

What is the reason to have that `.phpunit.result.cache` file not deleted by default?
I think that for most of users - we don't need it, as it was before. No?

[2018-08-03 08:25] epdenouden commented on #3237
@dmitry-ivanov The answer to your question has two parts:
1. the file is _not deleted_ as it is a cache to store information about test results between runs.
2. it is currently _created_ by default as it takes up little space and the cache needs to be active to support the 'run failed tests first' (`--order-by=defects`) feature. See #3147 for more details

[2018-08-03 08:30] dmitry-ivanov commented on #3237
@keradus "possibility to execute tests faster"? How do results from the previous run can help to execute tests faster?

The file is used for the new feature to run failed tests first, as @epdenouden mentioned.
Nice feature, thanks guys! Now I get it.

[2018-08-03 08:50] epdenouden commented on #3237
@dmitry-ivanov During development I often use `--order-by=depends,defects --stop-on-defect` to quickly halt PHPUnit when getting tests green. Some IDEs like IntelliJ have this feature built into their user interface:

![image](https://user-images.githubusercontent.com/26651359/43633934-0e5a5bd2-970b-11e8-83af-6ae45afc1392.png)

[2018-08-03 09:32] kunicmarko20 opened #3239 "Run all tests even if group is excluded in phpunit.xml"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | w/e
| PHP version         | w/e
| Installation Method | w/e

Is there a way to run all tests even if you have some group excluded in phpunit.xml?

Not sure if this is a right place to ask a question, sorry if not.

[2018-08-03 12:07] sebastianbergmann commented on #3239
This is not a discussion or support forum, sorry. To answer your question: no, that is not possible.

[2018-08-03 12:07] #3239 closed

[2018-08-03 13:55] lsfiege commented on #3234
+1

[2018-08-03 13:56] lsfiege commented on #3234
+1 with PHPUnit 7.3.0

[2018-08-03 15:24] RinkAttendant6 commented on #3237
@epdenouden Regarding

It works fine in PhpStorm as you mentioned, but when I run the tests using the command line on a read-only filesystem then it will fail trying to write the cache file. Example of a read-only filesystem include shared folders on a Vagrant dev environment.

[2018-08-03 18:18] rafrsr opened #3240 "assertArraySubset() does not work as expected"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.0
| PHP version         | 7.1
| Installation Method | Composer

After upgrade to phpunit `7.3` the `assertArraySubset` does not works as expected. I see that in this version great changes was made in this part; check the following example; works well with `7.2.7`.

[code]
The first part of the example is

[2018-08-03 18:27] rtek commented on #3237
@epdenouden I love the feature and just enabled it for my tests, but agree with @RinkAttendant6 that it should be disabled by default since it could be a BC break depending on where phpunit is executed.

[2018-08-03 20:08] Stretch96 commented on #2789
@shenmusam It looks as thought you may have a `require` or `include` instead of `require_once` or `include_once` for the autoload file (Check in the phpunit bootstrap file).

[2018-08-04 01:47] rtek commented on #3238
I would have expected `orderBy` to match `--order-by` like the other features... I made the same mistake as @keradus :laughing:

[2018-08-04 04:59] sebastianbergmann commented on #3234
I am not sure whether displaying a diff is useful here to begin with. Is
[code]
not sufficient? If it is, then we should simply remove the diff completely.

[2018-08-04 05:03] sebastianbergmann commented on #3240
This might be what was mentioned in https://github.com/sebastianbergmann/phpunit/pull/3161#issuecomment-410364871.

To be honest, I do not know how this is expected to work as I never used `assertArraySubset()`.

@marcioAlmada originally implemented `assertArraySubset()` (and most recently @pfrenssen did some work on it). I am not writing this to assign blame, simply to explain why I do not know h

[2018-08-04 05:05] #3230 closed

[2018-08-04 10:55] crhg commented on #3234
If the information is only it, I can not know what kind of problem was with the actual value.

Displaying the following information at the same time makes debugging more efficient.

* Which key has a problem
* Whether element of that key exists or not
* If an element of that key exists, what was the actual value?

[2018-08-04 19:56] #3237 closed

[2018-08-05 14:52] Stadly commented on #3143
@sebastianbergmann Does what I say make sense, or have I misunderstood the concept of `@backupGlobals`?

[2018-08-05 19:39] pfrenssen commented on #3240
@rafrsr thanks for the report. I have made a test case out of your code: #3243. I was able to replicate the issue without having to use `json_decode(json_encode($array))`.

The good news is that there is already a PR that fixes this: #3186. I will add the test for this case to that PR to prove that this is conclusively fixed.

[2018-08-06 04:48] sebastianbergmann opened #3244 "Enable result cache by default"

[2018-08-06 10:25] dpauli commented on #3237
@dmitry-ivanov I did not get it: In the IDE you mentioned here its easy to rerun only failed tests. There is a button for doing this.

The new implemented ticket says

(saying: Run all test, but in another order). This does no increase execution time of running test.

[2018-08-06 10:39] dmitry-ivanov commented on #3237
@dpauli Can you please show me where I wrote this? :)

PS: @epdenouden said, that you can use `--order-by=depends,defects --stop-on-defect` to run failed tests *first*. And if there are still some failed tests - your execution will stop.

And some IDEs have even a button in their UI for that.

[2018-08-06 10:56] dpauli commented on #3237
@dmitry-ivanov Sorry for the missing comma (I updated it) and the wrong person I mentioned :) Its too warm today:

@epdenouden argued with a feature which is already implemented in the IntelliJ IDE.

[2018-08-06 18:58] ohartl opened #3245 "Missing schema for 7.3"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3

Missing https://schema.phpunit.de/7.3/phpunit.xsd, is there maybe a way to automate things ;) ?

see #2916

[2018-08-07 05:16] #3245 closed

[2018-08-07 06:39] sebastianbergmann commented on #3240
I have reverted #3240 to fix this issue.

[2018-08-07 06:39] #3240 closed

[2018-08-07 13:02] reinholdfuereder commented on #46
IMHO starting from PHPUnit 7.3, because of https://github.com/sebastianbergmann/phpunit/pull/3147, this should be possible via `--cache-result --order-by=defect`

[2018-08-07 13:56] reinholdfuereder opened #3246 "Execution order "by-defect" does not support parameterized tests with @dataProvider"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.1
| PHP version         | 7.2.8
| Installation Method | PHAR

In my test set (executed via XML configuration) there is (coincidentally) (1) one incomplete, (2) one skipped and (3) one failing test. I just started playing around with the new cool feature of running tests first that failed in a previous run

[2018-08-07 14:03] reinholdfuereder commented on #3246
Hm, when deleting the incomplete test it still behaves badly and does not change the execution order at all; maybe this is because the failing test is a parameterized one?
[code]

[2018-08-07 14:06] epdenouden commented on #3238
@sebastianbergmann I am also not sure what the bug is. Everything works fine with this combination of code + XSD:
![image](https://user-images.githubusercontent.com/26651359/43780791-b9b644fc-9a5b-11e8-9ac0-f21d7db62dbf.png)
which auto completes to:
![image](https://user-images.githubusercontent.com/26651359/43780840-d278f656-9a5b-11e8-9a05-c5a100cb4125.png)

@keradus if I have misunderstood or yo

[2018-08-07 14:10] reinholdfuereder commented on #3246
Oh yes, it looks like it is the `@dataprovider`:
[code]

[2018-08-07 14:17] reinholdfuereder commented on #3246
Rather irrelevant by comparison, but I am also wondering why the execution order "by-defect" also seems to consider incomplete tests:
[code]

[2018-08-07 15:07] oniice commented on #3237
So is this file supposed to be generated by default or not?
When running in PhpStorm it is creating in the project root or in the /tests dir if running a suite in isolation.
Also storm ignores the cacheResult="false" as it passes --no-configuration when it runs

[2018-08-07 15:15] sebastianbergmann commented on #3246
@epdenouden **ping**

[2018-08-07 18:59] epdenouden commented on #3246
@reinholdfuereder thank you for the super detailed issue! I will look into it later this week, it is currently not impeding anything, right?

[2018-08-08 09:12] epdenouden commented on #3237
@oniice Yes, the `--no-configuration` issue came up in the office, too. I think taking _don't use a configuration_ as a request to mean _be as defensive as possible_ would be good. In other words: no config = no cache writing/reading

[2018-08-08 09:28] nebojsac opened #3247 "GetOpt in 4.8.20 using each(), deprecated in PHP 7.2"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 4.8.20
| PHP version         | 7.2.8
| Installation Method | Composer

Composer Info for the PHPUnit packages:

[code]

We've switched from PHP 7.1 to PHP 7.2, which meant switching CakePHP from 2.9 to 2.10. Which in turn meant switching PHPUnit from 3.7.x to 4.8.x.

Now tests throw up warnings because `each(

[2018-08-08 09:39] nebojsac commented on #3247
Actually, just found out that CakePHP 2.10 supports PHPUnit 5.x as well, so no need for this change, in my case. Just needed to change the PHPUnit version in composer to `5.*` and run `composer update`.
Hope this helps others.

[2018-08-08 09:39] #3247 closed

[2018-08-08 09:44] keradus commented on #3237
no config === default configuration
default on v7 is no cache, default on v8 will be with cash

[2018-08-08 11:15] epdenouden commented on #46
@reinholdfuereder The combi of functionality from #3147 + #3092 was explicitly aimed at providing this. I am not familiar with JUnit `--run-failed` and cannot find it in their docs. If anybody has a link that'd be great.

The only missing bit of functionality I still want myself is to *only run failed* and not just sorting defects to the front of a normal run. I'd have to implement a `--filter` ba

[2018-08-08 19:06] ohartl commented on #3245
Thanks. Btw I really appreciate your work on phpunit and other projects!

[2018-08-09 07:59] keradus commented on #46
I'm a bit 0/-1 on that functionality. While implement a fix for sth, it is good to not break anything else.
And if you know which exactly component is problematic and needs fixing, just filter to run tests only for it, it's already possible

[2018-08-09 08:01] Petah commented on #46
FWIW you can pretty easily write a listener to rerun failed tests:

[code]

[2018-08-09 09:00] epdenouden commented on #46
@keradus
_As a_ software developer
_I want_ to rerun failed tests first THEN all tests
_so that_ I can have both a quick red-green cycle and the safety of full coverage

Sounds like something you'd want? :)

[2018-08-09 10:14] keradus commented on #46
from opening message:

maybe not with xml, but with `--order-by=defects` we have this already possible.
imho, nothing left here and this feature request can be closed as done

[2018-08-10 06:58] #3140 closed

[2018-08-10 19:52] lunfel opened #3248 "Warning in console when phpunit.xml exclusions are not sorted properly"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.1
| PHP version         | 7.2.8
| Installation Method | Composer

I recently updated my version of PHPUnit. I don't know exactly which version I was running before. Now that I have updated it, I get this warning

[code]
With my long unchanged phpunit.xml. (From standard Laravel 5.6)

[code]

Everything wo

[2018-08-11 00:47] GaryJones opened #3249 "Support .phpunit.xml and .phpunit.xml.dist"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | -
| PHP version         | -
| Installation Method | Composer / PHAR

PHP_CodeSniffer supports config files with leading periods in the name, so that they can be grouped with other "hidden" / system files, such as `.gitignore`, `.editorconfig` `.travis.yml` etc.

The order of preference is:
 - `.phpcs.xml`
 -

[2018-08-11 04:46] sebastianbergmann commented on #3249
I do not think that "hiding" configuration files is useful.

[2018-08-11 04:46] #3249 closed

[2018-08-12 11:17] theseer commented on #3248
That's a bug in the XSD schema file.

XML itself does not have any understanding of order. It's just nodes and children.
But of course depending on how such a structure is process, the order may be relevant. That's why the XSD schema language has <xs:sequence> to enforce a given order.

For this case, the way we use <xs:sequence> though is lacking the information to tell the order is _not_ relevan

[2018-08-12 15:48] #3248 closed

[2018-08-13 06:05] sebastianbergmann commented on #3233
This is probably another case (like #3248) where the XSD is too strict.

[2018-08-13 09:39] ChangePlaces commented on #3233
It does look similar!

[2018-08-13 09:41] theseer commented on #3233
Most certainly.

Maybe I should have checked more occasions of `<xs:sequence>` while fixing bug #3248.

I'll have a look later unless somebody beats me to it.

[2018-08-13 09:46] sebastianbergmann commented on #3233
@theseer That would be much appreciated!

[2018-08-14 03:11] BHSPitMonkey opened #3254 "TextUI TestRunner cannot run a non-TestSuite Test instance"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3
| PHP version         | 7.1
| Installation Method | Composer

[code]

It seems that TextUI/TestRunner::doRun has an issue when passed an object that isn't a `TestSuite`. If the constructor argument to `run` is a non-TestSuite Test object, things start to break beginning with a call to `$this->processSuite

[2018-08-14 09:42] theseer commented on #3233
As part of an upcoming code sprint, we might want to add more integration level tests for the schema checks by adding multiple valid xml files that should pass.

There might be more things :)

[2018-08-14 09:49] #3233 closed

[2018-08-14 17:42] mfuery commented on #1953
But like @gmagana said, this is a bandaid: you're just catching and ignoring the underlying error. I'm curious what the root cause is?  Unless I'm misunderstanding the issue...
Thanks

[2018-08-14 18:10] gmagana commented on #1953
@mfuery I think this has been fixed since that https://github.com/sebastianbergmann/phpunit/commit/ac2e32c1d87cd8d2689a25e344a87de93858608c commit

[2018-08-14 20:28] ArthurFelix559 opened #3256 "PHPUNIT visit() returns alway 404 error"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 4.8.36
| PHP version         |  7.2.5
| Installation Method | Composer / PHAR

I'm trying to make some phpunit tests in my API, i have my home route `http://site.intradecloud.test/`, i can access this page in the browser, and when i make an `$this->route('GET', '/')` on my test, it's works, but when i make an

[2018-08-15 04:00] sebastianbergmann commented on #3256
PHPUnit does not have a `visit()` method.

[2018-08-15 04:00] #3256 closed

[2018-08-16 05:09] sebastianbergmann commented on #3256
Please ask this question in a Laravel forum.

[2018-08-16 08:39] davidyell commented on #2776
I found that this issue was caused by my `phpunit.xml` file which had the following line.

`printerClass="PHPUnit_TextUI_ResultPrinter"`

[2018-08-18 19:09] Netmosfera opened #3257 "Infer data provider's name automatically - with a prefix?"
For example, I would like to omit the `/** @dataProvider */` here since the methods' name matches.

[code]

In other words, if the test method name is `test$n` and a method exist as `data$n`, then phpunit would use it as data provider for `test$n`, unless overridden by the `@dataProvider` annotation.

Would this be feasible?

Thank you in advance.

[2018-08-18 21:08] Netmosfera commented on #3257
Alternatively, #1093

[2018-08-19 21:44] bugreportuser opened #3258 "@runClassInSeparateProcess has the same effect as @runTestsInSeparateProcesses"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4-dev
| PHP version         | 7.2.7
| Installation Method | Composer

`@runClassInSeparateProcess` has the same effect as `@runTestsInSeparateProcesses` and makes test [SeparateClassPreserveTest.php](https://github.com/sebastianbergmann/phpunit/blob/master/tests/Regression/GitHub/2591/SeparateClassPreserveT

[2018-08-20 08:06] rawaludin commented on #1509
Any news?

[2018-08-20 12:27] marcelloh opened #3259 "expectExceptionMessage does not fail when testing wierd value"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.1
| PHP version         | 7.2.9
| Installation Method | Composer

[code]
The exception emssage is different, so I expect the I expect the $this->expectExceptionMessage('ha');
to fail, but it doesn't.

The class throws an AUException with message
BaseModel->__set: Country has no field 'nonexistingfield'

T

[2018-08-20 12:28] sebastianbergmann commented on #3259
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-08-20 13:29] marcelloh commented on #3259
oh, it's not the same as a contains, since I can do multiple contains
but only one expectExceptionMessage

Country->notExistingMethod() cannot be called with arguments

So I can't do:
$this->expectExceptionMessage("Country->notExistingMethod()");
$this->expectExceptionMessage("cannot be called with arguments");

[2018-08-21 08:52] sebastianbergmann commented on #3259
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-08-21 13:38] stof commented on #3181
passing a regular expression is more complex. I still think that being case insensitive for the simple matching would make more sense.

[2018-08-21 14:08] stevehill1981 opened #3260 "Case-sensitivity issues in PHPUnit 7.3.1"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.1
| PHP version         | 7.1.20
| Installation Method | Composer / PHAR

Since upgrading my project to PHPUnit 7.3.1, I get an error when running my tests on Ubuntu 16.04.

[code]

The referenced file exists, but is called `Fileloader.php` (note the lower-case `l`, rather than `L`).

I _think_ that's the

[2018-08-21 14:11] stevehill1981 commented on #3260
Hmm, I see that this is already fixed since 2 months ago...!

[2018-08-21 14:12] stevehill1981 commented on #3260
Apologies... closing this, I'll figure out what's up with my local build.

[2018-08-21 14:12] #3260 closed

[2018-08-21 16:46] keradus commented on #3180
ssshhh, go away @stale

[2018-08-22 02:35] belwase opened #3261 "Testing methods that implements interface"
I'm working on a Magento2 project. I need to write unit test for a module.
 I've a Quote class as :

    use Magento\Quote\Api\Data\CartInterface;
    class Quote{

       public function __construct(...) {....}

       public function get(): CartInterface
        {
          $quote = $this->getFactory()
            ->create()
          ;
        }

My mock code is like :

    $this->quote = $this

[2018-08-22 05:51] keradus commented on #3261
create mock using `$this->prophesize(...)` instead

[2018-08-22 16:07] evgpisarchik commented on #3181
what if to pass **--case-insensitive** option to phpunit command

[2018-08-24 06:57] oasfuyou opened #3262 "php7 Compatibility problem"
vendor/phpunit/phpunit/src/Util/Getopt.php
---------------------------------------------------------------------------------------------------------
FOUND 0 ERRORS AND 3 WARNINGS AFFECTING 3 LINES
---------------------------------------------------------------------------------------------------------
  35 | WARNING | Function each() is deprecated since PHP 7.2; Use a foreach loop instead
  92 | W

[2018-08-24 07:36] hboomsma commented on #3262
@oasfuyou these deprecations have been removed in all currently maintained versions of phpunit. Did you upgrade to one of the supported versions?

PHPUnit 7 | PHP 7.1, PHP 7.2, PHP 7.3 | February 2, 2018 | Support ends on February 7, 2020
PHPUnit 6 | PHP 7.0, PHP 7.1, PHP 7.2 |	February 3, 2017 | Support ends on February 1, 2019

Taken from phpunit.de

[2018-08-24 07:41] #3262 closed

[2018-08-24 13:33] #2557 closed

[2018-08-25 18:29] #3138 closed

[2018-08-27 12:03] dawei101 commented on #2739
Actually, I think phpunit is not a good tools.
I have got same exception in 4.6 version , also 5.* version

And the most bad thing is , It could pass test in my dev machine, and could not run when in another environment.
------------

Do you think it would be a good idea  to do that:
use bash or python to execute only one TestCase class in single process

There wont be serialization issues then.

[2018-08-28 19:12] woodcockjosh commented on #3163
Not stale for me bot

[2018-08-28 19:15] woodcockjosh commented on #3163
Looks like we can just take put those checks above $result->wasSuccessful() and it should work. Will try to get in a pull request.

[2018-08-29 13:36] petermorlion commented on #1613
I was able to solve it without a complete reinstall. Just:

[code]

[2018-08-30 07:58] dpauli opened #3264 "Testsuite is ignored if exclude folder does not exists"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.2
| PHP version         | 7.2.8
| Installation Method | Composer

On excluding a folder in a specific testsuite, which does not exist, will not run the whole test suite.

[code]

Running the tests will create following output:

[code]

[2018-08-30 15:05] chubidu opened #3266 "withConsecutive fails with objects"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.2
| PHP version         | 7.2.8
| Installation Method | Composer

Verifying the arguments passed to a method call with `withConsecutive` fails. The mocked method is being called within a loop. The first iteration passes and the error occurs on the second iteration of the loop.
The error I'm getting is tel

[2018-08-31 05:16] sebastianbergmann commented on #3266
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-08-31 08:27] sebastianbergmann commented on #3266
Sorry, but that is not minimal.

[2018-08-31 09:05] chubidu commented on #3266
Then please tell me your definition of _minimal_.

This would be just 3 commands on cli. All relevant code is just located in `./src/Examples/` and `./tests/.../Example/`.

[2018-08-31 19:28] BentCoder opened #3268 "Call to a member function on null for an object initialised in constructor"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.2
| PHP version         | 7.2.6
| Installation Method | Composer

Hi,

I have two different versions for `CountryService` as shown below. Same test passes on "version 2" but fails on "version 1". The error message is `Error: Call to a member function findAll() on null`. What should I do in order to make t

[2018-08-31 20:57] mkasberg commented on #3268
For version 1 to work, the `serviceLocatorMock` must already have the return mocked on the `locate` method _before_ you call the `new CountryService()` constructor.

You can either move this code up into your setup method before the call to the `CountryService` constructor:
[code]

[2018-08-31 21:04] BentCoder commented on #3268
The second option seems better. Thanks you.

[2018-08-31 21:04] #3268 closed

[2018-09-01 08:35] vsouz4 commented on #3266
@chubidu I'm not sure this is a problem from phpunit. Check this out:

[code]
this would work (every time you're creating a new instance/reference), but when you're doing this:

[code]

you're using the same instance/reference of `ParameterBag` inside the do/while loop, meaning that if inside this `all` method you would store it for some reason (and not use it immediately), in the second, third et

[2018-09-01 08:48] vsouz4 commented on #3261
Your example is very incomplete, but I'll assume you have this class:

[code]

and the class you want to test (since you're mocking the `Quote` class):

[code]

the test would be:

[code]

[2018-09-01 08:59] vsouz4 commented on #3259
@marcelloh this is documented:

here: https://phpunit.de/manual/6.5/en/appendixes.annotations.html#appendixes.annotations.expectedExceptionMessage

So this is not an issue/bug nor lack of documentation. Thus, there's no reproducing example :). What you seem to be suggesting though is a non existing feature, where you can run several `expectedExceptionMessage` and all of them will be checked in the

[2018-09-01 12:01] chubidu commented on #3266
@vsouz4 Thanks for your answer. I will check that out and let you know.

[2018-09-03 07:40] champseo2017 opened #3269 "PHP Warning: Declaration of PHPUnit_Extensions_Selenium2TestCase::onNotSuccessfulTest(Exception $e)"
C:\xampp\htdocs\test_01>phpunit google_test.php
PHP Warning:  Declaration of PHPUnit_Extensions_Selenium2TestCase::onNotSuccessfulTest(Exception $e) should be compatible with PHPUnit\Framework\TestCase::onNotSuccessfulTest(Throwable $t) in C:\xampp\php\pear\PHPUnit\Extensions\Selenium2TestCase.php on line 208

Warning: Declaration of PHPUnit_Extensions_Selenium2TestCase::onNotSuccessfulTest(Except

[2018-09-03 08:01] sebastianbergmann commented on #3269
Please open issues for `PHPUnit_Extensions_Selenium2TestCase` with the correct project.

[2018-09-03 08:01] #3269 closed

[2018-09-04 07:58] chubidu commented on #3266
@vsouz4 I adjusted the method `getParameterBag` to simply return a new instance of `ParameterBag` every time it gets called. This fixed my issue with `withConsecutive` failing.
Thank you.

I'm closing this issue since I agree on that this should not be done in phpunit.

[2018-09-04 07:58] #3266 closed

[2018-09-04 16:34] yamenarahman commented on #2434
For any who is experiencing this, `vendor/bin/phpunit` definitely works but you might want to install phpunit with composer globally to solve this.

[2018-09-05 06:45] sebastianbergmann commented on #3261
This is not a discussion or support forum, sorry.

[2018-09-05 06:45] #3261 closed

[2018-09-05 06:46] #3259 closed

[2018-09-05 09:50] sebastianbergmann opened #3270 "Array / Object to string conversion in NamePrettifier"
[code]
#### Actual
[code]
#### Expected
[code]

[2018-09-05 09:52] #3270 closed

[2018-09-05 18:55] tobiastom opened #3271 "__invoke method is not found by @covers"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.0
| PHP version         | 7.2.9
| Installation Method | Composer

I have the following class:

[code]

and this test class:

[code]

When I now run the tests for this I get the following warning:

[code]

The coverage result will then cover both methods of the `Foo` class.
I would expect it to only cover

[2018-09-06 09:41] tobiastom commented on #3271
In my real scenario the test class was in a namespace. When I add the namespace to the covers annotation it works as expected.

Sorry for opening this issue.

Thanks for your support!

[2018-09-06 09:41] #3271 closed

[2018-09-06 13:36] linslin commented on #3141
@BonBonSlick how did you fix it?

[2018-09-06 13:45] linslin commented on #3141
OK finally we found the problem. While the error message `
ErrorException: unserialize(): Error at offset...` seemed to point a problem in PHPUnit code. The problem over here was that the assertion we used was wrong / failed. The test itself did run but the assertion failed. So in our case our test first looked like this (Laravel 4.2):

    /**
     * A basic functional test example.
     * @runIn

[2018-09-06 14:48] dertin commented on #3165
@keradus I do not understand why it is not safe.

You mean this: https://www.notsosecure.com/remote-code-execution-via-php-unserialize/
It could be injected into the HTML code that I'm trying to validate, i.e some PHP object.
How can I do it safely?

[2018-09-07 08:59] sebastianbergmann opened #3272 "Ability to generate code coverage whitelist filter script for Xdebug"
PHPUnit (or rather [php-code-coverage](https://github.com/sebastianbergmann/php-code-coverage) currently lets Xdebug collect all code coverage information and then filters it itself (in PHP code) based on the configured whitelist. Delegating this filter operation to Xdebug (where it's implemented in C) would lead to significant improvements in resource consumption.

In Xdebug 2.6, @derickr added [

[2018-09-07 09:02] keradus commented on #3165
sorry, i don't got your msg. what is not safe? i didn't said that anything here is safe or not, simply confirmed tihs as bug, so `stale` bot would not close the issue

[2018-09-07 11:01] 1blankz7 commented on #3264
This issue is related with https://github.com/sebastianbergmann/php-file-iterator/issues/48 and should be solved when the referenced bug was fixed.

[2018-09-07 14:06] #3264 closed

[2018-09-07 15:30] #3181 closed

[2018-09-07 15:40] lindt commented on #1804
already fixed with #2148

[2018-09-07 15:44] #1804 closed

[2018-09-07 15:45] sebastianfeldmann commented on #3163
This is already fixed in version `6.5`

[2018-09-07 15:45] #3163 closed

[2018-09-07 16:17] lindt commented on #46
yes, should be solved with `--cache-result --order-by=depends,defects`.

[2018-09-07 16:18] #46 closed

[2018-09-07 17:41] woodcockjosh commented on #3163
@sebastianbergmann @sebastianfeldmann  its not fixed. Please see below configurations to reproduce.

phpversion
`josh@Joshs-MacBook-Pro-2:~/.../unit-tests$ phpunit --version
PHPUnit 7.3.2 by Sebastian Bergmann and contributors.`

phpunit.xml
`<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         col

[2018-09-07 17:49] woodcockjosh commented on #3163
inside `TestRunner.php` `wasSuccessful()` isn't true so I'm thinking that this block isn't evaluated because the test wasn't successful. Probably because of enforceTimeLimit
[code]

[2018-09-07 18:27] dertin commented on #3165
Hi @keradus
Maybe I got it wrong I thought it refers to the following:

-> Check the line where it crash:
https://github.com/sebastianbergmann/phpunit/blob/master/src/Util/PHP/AbstractPhpProcess.php#L249

The security is enough? or the second parameter must be applied to the unserialize() function:
[code]

[2018-09-07 18:58] keradus commented on #3165
sorry, but i don't see how the crash error log is related to unserialize with or without allowed_classes.
if you know it is (and simply only I don't see it), please raise a PR with test case of discovered bug and your proposal of fixing it. thanks !

[2018-09-08 07:36] keradus commented on #3244
shall we also change order execution to `depends,defects` ?
the thing is, without that, cache file would be created, but not used, thus no benefits of creating it

[2018-09-08 07:53] sebastianbergmann commented on #3244
Makes sense.

[2018-09-08 09:03] 1blankz7 commented on #3234
The input for the diff is currently generated with `r_print`. The result for `['foo' => '1']` is `([foo] => 1)`. If we use `var_export` the correct type would be more present in the output and the diff is more usable.

[2018-09-08 09:13] sebastianbergmann opened #3284 "Reorder tests based on execution time"
Thanks to the [caching of test results](https://github.com/sebastianbergmann/phpunit/pull/3147), we know how long it took to execute each test the last time.

It could make sense to reorder tests based on execution time: fast tests first, slow tests last.

@epdenouden What do you think?

[2018-09-08 09:17] sebastianbergmann commented on #3272
Thanks, @belanur!

[2018-09-08 09:17] #3272 closed

[2018-09-08 10:04] sebastianbergmann opened #3288 "Enable void_return fixer"

[2018-09-08 10:37] sebastianbergmann opened #3290 "Ability to load a PHP script before any code of PHPUnit itself is loaded"
As of #3272, PHPUnit can generate a code coverage whitelist filter script for Xdebug. This script needs to be loaded as early as possible (`--bootstrap`, for instance, is too late).

This ticket proposes the addition of a new command-line option to PHPUnit, `--prepend-file`, that is interpreted by PHPUnit as soon as possible.

[2018-09-08 10:41] sebastianbergmann opened #3291 "Remove code that allows phpunit.phar to be used as a library"

[2018-09-08 10:51] #3290 closed

[2018-09-08 11:35] epdenouden commented on #3284
Technically that is super easy, the current sorter will already use the time when it the 'defect severity' is the same.

Personally I have never found a use case for just sorting by time. The quickest tests are always these loooong lists of `@dataprovider` tests for input validation, parsers and minor logic building blocks. These tests all count as _one per data row_ which makes them super fast an

[2018-09-08 11:48] #3284 closed

[2018-09-08 12:28] epdenouden commented on #2085
@reinholdfuereder The pull request has made into into `master` :)

[2018-09-08 13:06] sebastianfeldmann commented on #3132
I agree with @sebastianbergmann you should not do this in your bootstrap file.
Instead you should set and restore your global state within your test classes.

[2018-09-08 13:07] #3132 closed

[2018-09-08 14:49] dereuromark commented on #1914
I feel with you.
With higher phpstan levels you face the same thing in the default behavior of reporting.
It is a code smell - totally.
And I think it should be fixed up in one direction, both for usage and docs.

[2018-09-08 14:55] sebastianbergmann commented on #3290
`--prepend-file` has been renamed to `--prepend`.

[2018-09-08 14:57] sebastianbergmann commented on #2802
I agree with what @sebastianfeldmann wrote in https://github.com/sebastianbergmann/phpunit/pull/2808#issuecomment-419648431.

[2018-09-08 14:57] #2802 closed

[2018-09-08 15:07] sebastianfeldmann commented on #1914
No it's not! It's OO. There is no rule, that you can't call static methods within your instance context.
Static methods are callable either way. Only none static methods are not callable statically because they need the object context.
JUnit does the same thing by the way ;)

[2018-09-08 16:09] dereuromark commented on #1914
Static anlyzers, IDEs, everything is warning and complaining about this. Why is this then an issue for those to report if it was totally "acceptable"? Sure, technically it is fine, but conceptually?

[2018-09-08 16:13] sebastianfeldmann commented on #1914
Fix the tools!

[2018-09-08 16:29] BonBonSlick commented on #3141
@linslin problems mostly because of your code. It is not related to phpunit. You are doing something wrong, i do not remmber already how solved it, but it was not phpunit issue.

[2018-09-09 02:42] crhg commented on #3234
This fix is ​​valid for this issue, but I think there is a problem when `$strict` is false.

When `$strict` is false, the number `1` and the string `'1'` are treated as equal, so the `print_r` used in the original code is better.

It is good to use `print_r` and `var_export` differently depending on whether `$strict` is true or false.

[2018-09-09 08:32] sebastianfeldmann commented on #3132
I understand the feeling but the intention of bootstrap is mainly to setup your autoloader or require classes / functions you need during your tests.

To set up globals you need for a test you should use the `setup` or `beforeClass` methods. I hope you don’t need global state for alle your tests, but if you need it in several, you can create a `TestCase` base class or delegate the global state set

[2018-09-09 15:05] 1blankz7 commented on #3234
Can you explain why using `var_export` is an issue when `$strict` is false? In my understanding the code is not executed at all if the check passes.

[2018-09-09 21:49] crhg commented on #3234
When expected is

[code]

and actual is

[code]

the check doesn't pass and the diff is shown.

If `var_export` is used, both `foo` and `bar` is different, but `$strict` is false, `foo` is ok and only `bar` should be included in diff.

[2018-09-10 10:30] taisph opened #3300 "Exit code 0 on failures when having more than one testsuite"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.9
| Installation Method | Composer

I have two testsuites defined and I introduced an assertion failure in both suites. If I run phpunit normally, both suites are run and the assertion failures are hit in both - but the exit code is 0. If I run each testsuite individually, th

[2018-09-11 10:16] SilverFire commented on #3124
I make some activity

[2018-09-11 11:47] sebastianbergmann opened #3301 "Improve developer experience of code coverage performance improvements"
With #3272 and #3290, the performance of the collection and processing of code coverage data is significantly improved when Xdebug 2.6 (or later) is used.

Right now, this requires PHPUnit to be invoked with `--dump-xdebug-filter` to generate a PHP script with whitelist configuration code for Xdebug any time the whitelist configuration is changed in `phpunit.xml`. PHPUnit then needs to be invoked

[2018-09-11 11:47] sebastianbergmann commented on #3301
@sebastianheuer @hollodotme Do you think that this makes sense / could work?

[2018-09-11 12:27] hollodotme commented on #3301
@sebastianbergmann Makes absolutely sense to me and actually I'd prefer this proposed approach, because the current implementation would need updates on every CI config to invoke phpunit twice (per test suite).

[2018-09-11 15:00] sebastianheuer commented on #3301
+1, but wouldn't this still require two runs of phpunit?

[2018-09-11 15:14] sebastianbergmann commented on #3301
It would be slow on the first run and fast(er) on subsequent runs

[2018-09-11 15:15] sebastianbergmann commented on #3301
We may need to store a hash of `phpunit.xml` in `.phpunit.xdebug.filter` and not load it when it's out of date.

[2018-09-11 15:30] epdenouden commented on #3301
Keeping an eye on the configuration and figuring out if a cache is still relevant (or even valid) for a new configuration is something I ran into, too.

Things that popped up when working on the cache test reordering:
- how much of a configuration-change ends up with a _different test_; in theory none at all, obviously, but in the real world when people use it as an integration testrunner, it gets

[2018-09-11 16:17] MasterMindNET commented on #2585
I fixed this issue changing
remove this line

to this one

YourProject\vendor\codeception\verify\src\Codeception\Verify.php
![image](https://user-images.githubusercontent.com/22347676/45373054-21000880-b5f7-11e8-9b8e-b938e5403691.png)

[2018-09-11 17:39] sergekukharev commented on #1914
What's the point of fixing tools if we can fix the documentation?

[2018-09-11 18:30] hollodotme commented on #3301
@sebastianheuer Good point. So my question is how much the overall execution slows down, if the `.phpunit.xdebug.filter` is dumped every single time based on the whitelist from the `phpunit.xml` and then phpunit invokes itself with the `--prepend .phpunit.xdebug.filter` option. Reading the config, dumping the whitelist filter and restarting PHPUnit shouldn't have so much impact on overall executio

[2018-09-11 18:34] sebastianheuer commented on #3301
Dumping the whitelist is pretty quick, it would add maybe 2 seconds to the overall execution time. I remember @sebastianbergmann and I were discussing this behaviour during the code sprint, but it felt a bit weird.

[2018-09-11 18:36] sebastianbergmann commented on #3301
@hollodotme One thing I do not want is to restart PHPUnit. The complexity this would add does not, IMO, is not justified by also having the first run be fast(er).

[2018-09-11 18:59] hollodotme commented on #3301
Yes, programs restarting themselves is kind of weird. Even though composer does that in some cases as far as I know. How about the idea to make that explicit for the user. Instead of `phpunit --dump-xdebug-filter` + `phpunit --prepend .phpunit.xdebug.filter` simply run `phpunit --xdebug-filter` which combines both commands. So users can choose. That would also allow to switch the whole feature off

[2018-09-11 19:06] keradus commented on #1914
I would advocate to call methods with respect to their declarations as well.

For all who want's to automate choosing his way of usage of assertions, [PHP CS Fixer](https://cs.sensiolabs.org/) can do it for you with `php_unit_test_case_static_method_calls` rule - it can be configured to ensure assertions are called in unified way - `$this->`, `self::` or `static::`

[2018-09-11 19:07] hollodotme commented on #3301
@sebastianbergmann How would you have handled the second invocation regarding your initial proposal? Or did you mean that the first run dumps the file, but does not apply the Xdebug filter and is slower for that reason?

[2018-09-11 20:10] keradus commented on #3301
@sebastianbergmann , https://github.com/composer/xdebug-handler may be interesting idea - not perfect match for this case, but it automate when and how CLI command shall be restarted

[2018-09-11 20:34] sebastianheuer commented on #3301
Another approach could be to blacklist PHPUnit's own code first before bootstrapping PHPUnit and setting a whitelist for the code under test before loading the tests. A quick proof-of-concept proved to bring almost the same speed improvements as the prepended whitelist.

I do think that this approach would probably work best with the PHAR, as that contains all the dependencies, whereas only parts

[2018-09-11 20:40] hollodotme commented on #3301
I like that approach @sebastianheuer!

[2018-09-11 20:40] sebastianbergmann commented on #3301
Can blacklist and whitelist be used together?

[2018-09-11 20:42] sebastianheuer commented on #3301
According to Xdebug's documentation not, but then again it seems to work ;) Without knowing the internals I can only assume that the whitelist replaces the blacklist, which is okay in this case as all the backlisted code has already been loaded at that point in time so that no coverage information is collected.

[2018-09-11 20:54] hollodotme commented on #3301
@sebastianheuer I don't think it is actually used in combination in your implementation. I think the second `xdebug_set_filter` removes the blacklist and sets the whitelist which also excludes the paths  that you had in the blacklist, I assume. IMO, to test this we need to check what happens to paths that are in both, black- and whitelist.

[2018-09-11 20:58] sebastianbergmann commented on #3301
I would like to get input from @derickr on this. However, he is currently on vacation AFAIK.

[2018-09-12 09:41] sebastianbergmann commented on #3246
@epdenouden GitHub only allows assigning of issues to people that have push access, sorry.

[2018-09-12 10:43] epdenouden commented on #3246
@sebastianbergmann Thanks for the clarification. I had no idea. Quickfix by tracking it via my own issues list.

[2018-09-13 10:45] JeroenDeDauw opened #3302 "Expected size is wrong in assertCount error message"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.6
| Installation Method | Composer

I have this and the test passes:

[code]

I changed it from 6 to 5 to verify the test is being run

[code]

Got error

While I expected to get

[2018-09-13 10:50] sebastianbergmann commented on #3302
I cannot reproduce this:

[code]
[code]

[2018-09-13 10:52] JeroenDeDauw commented on #3302
My input is a `Generator`, not an `array`. I just realized that `Generator` is not countable, so the "0" in the failure message makes some form of sense. Still, either assertCount should work fully with `Generator` or not at all.

[2018-09-13 11:57] sebastianbergmann commented on #3302
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-09-13 12:11] kubawerlos commented on #3302
[code]

[2018-09-13 13:29] JeroenDeDauw commented on #3302
The issue does not depend on calling assertCount twice.

That assert alone does the trick. You will get the error saying 0 does not match 4.

[2018-09-13 13:32] JeroenDeDauw commented on #3302
Disallowing `Generator` instances would be one way to make the behavior of `assertCount` consistent, but has the downsides that

* it is a breaking change
* `assertCount` not being able to work with any `iterable` is unintuitive

[2018-09-13 15:01] epdenouden commented on #3302
I have added an expanded regression test to the branch mentioned above, which shows the scenarios and difference in assertion error.

[2018-09-13 15:30] epdenouden commented on #3302
@sebastianbergmann I can't push into the main repo ofc, so just grab my code if you want to play with it. Can also quickly make a pull request out of it if you like.

[2018-09-13 17:38] su-narthur opened #3303 "Assert call made at any index with specific args"
| Q                               | A
| --------------------| ---------------
| PHPUnit version      | 7.1.5
| PHP version             | 7.0.11
| Installation Method | Composer

I often find myself wanting to assert that a call was made to a test double with specific args, but I really don't care at what index the call occurs. In fact, I often find that specifying the index makes tests more brittl

[2018-09-13 19:01] sebastianbergmann commented on #3303
This is not a discussion or support forum, sorry.

[2018-09-13 19:01] #3303 closed

[2018-09-14 11:56] su-narthur commented on #3303
@sebastianbergmann My apologies. If this isn't currently possible, then I'd appreciate it if you'd reopen this as a feature request.

[2018-09-14 12:00] su-narthur commented on #3303
@sebastianbergmann Also, it might save you some time if you included what is and isn't welcome in your issue tracker in the new issue boilerplate, as this issue would be well in the scope of what's expected in the issue trackers of most open source projects.

[2018-09-14 13:54] guilliamxavier commented on #3302
Sorry for bringing more issue rather than a solution, but besides generators, there is the same problem with other non-countable, forward-only (non-rewindable) iterators/traversables, e.g.:

[code]

or things like `PDOStatement` (even though a bit far-fetched)...

[2018-09-14 18:24] dertin opened #3306 "Tests not executed and marked as correct"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.1-dev
| Installation Method | Composer

All tests marked as correct with a time of 0ms. I checked and no test was executed.

The results are a false positive affected by session_set_save_handler().

Could this be possible ?

**phpunit.xml**
[code]

**bootstrap.php**
[code]

*

[2018-09-14 18:46] JeroenDeDauw commented on #3302
The fix that is up should also take care of those, see https://github.com/sebastianbergmann/phpunit/pull/3304

[2018-09-15 11:51] sebastianbergmann commented on #3306
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

Please disable custom test listeners such as `Sempro\PHPUnitPrettyPrinter\PrettyPrinter`.

[2018-09-17 18:32] IanVS commented on #3185
Hi, has any further thought been put into this?  (I'm mostly jsut commenting to keep the issue open, because it seems there was no resolution.)

[2018-09-17 19:28] dertin commented on #3306
I have updated PHP and the problem was not solved.

Simply run any test with the next **bootstrap.php**:

[code]

**myTest.php**
[code]
**phpunit.xml**
[code]

The test is marked as correct, but never executed:
**Time: 41 ms**, Memory: 4.00MB
OK (1 test, 0 assertions)

The expected result is the following:
**Time: 1.66 minutes**, Memory: 4.00MB
OK (1 test, 1 assertion)

[2018-09-17 19:37] dertin commented on #3306
If you configured
processIsolation="false"
the problem does not occur

[2018-09-18 10:05] kalymnred opened #3307 "mysql fulltext index support"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.7
| Installation Method | Composer

Greetings,
I have an application that requires the creation of  fulltext indexes between columns and these indexes are created with a alter table statement. Is there any way to make phpunit working with this types of queries?
I use sqlite_t

[2018-09-18 10:49] sebastianbergmann commented on #3307
PHPUnit has nothing to do with databases.

[2018-09-18 10:49] #3307 closed

[2018-09-18 14:34] dertin commented on #3306
Now I have the following problem #1416, since my tests use cookie and session
And if the sessions work for me, the cookies stop working for me.
If I set processIsolation="false"

[2018-09-18 15:05] dertin commented on #3306
Solved: --stderr CLI option.

[2018-09-18 15:05] #3306 closed

[2018-09-19 17:00] derickr commented on #3301
I think it's best to automatically restart PHPUnit, like Composer does, so that this benefits all users, even ones that have not heard of a cache at all.

[2018-09-20 15:47] flobee opened #3308 "error_reporting() :: suggestion"
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.9-1+0~20180910100512.5+stretch~1.gbpdaac35
| Installation Method | Composer + PHAR + github :)

This is a hint:
i'v seen that error_reporting(-1) exists in the sources.
When suspress (e.g. pdo warnings) like error_reporting( error_reporting() & ~E_WARNING ); and restore the previous value, followups of test can work with -3 as reporting lev

[2018-09-20 17:37] sebastianbergmann commented on #3308
`-1` includes everything. There is no point in doing something like `-1 & ~E_WARNING`.

[2018-09-20 17:37] #3308 closed

[2018-09-21 11:54] FyiurAmron opened #3310 "inconsistent @throws in Functions.php"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | edge
| PHP version         | any
| Installation Method | any

CURRENT BEHAVIOUR
As it currently stands, while `Assert.php` has both valid and informative `@throws` docs, `Functions.php` has some legacy (and absurd) - e.g. `assertContains` is currently declared as:

Functions.php
[code]
Assert.php
[code]

RATI

[2018-09-21 12:43] #3310 closed

[2018-09-22 12:34] keradus commented on #3188
go away stale

[2018-09-22 12:34] keradus commented on #3204
go away stale

[2018-09-24 19:28] jeremeamia commented on #2691
🤕 The problem for me is that the upgrade from PHPUnit 5 to PHPUnit 6/7 introduced all sorts of test failures in our suite on a legacy codebase, including many "risky" tests. Gonna have to stay with V5 for now, otherwise I'll just be fixing tests for the next few months. Heh.

[2018-09-25 07:49] gempir opened #3312 "New assertContains Assert that calls a method/property on an object."
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.0
| PHP version         | 7.1.20
| Installation Method | Composer

Assuming I have an array of objects (which I think is a pretty common scenario). It would be really useful to be able to call a specific method on that object while assertContains is running.

Example:

[code]

The naming is just a quick tho

[2018-09-25 19:41] sebastianbergmann commented on #2691
@jeremeamia The risky test checks that are enabled by default can be disabled.

[2018-09-25 19:46] jeremeamia commented on #2691
@sebastianbergmann Yeah, thanks! I have other tests that have errors and failures after upgrading, so something else is going on as well. Just don't have time to figure it out yet. We'll get there eventually.

[2018-09-25 20:50] keradus commented on #3312
big :-1:, nothing generic here and you call code by name (`"getName"` instead of `->getName()`), which makes SCA hard, and automated code refactoring (eg rename of method) impossible.

[2018-09-25 20:51] keradus commented on #3312
perform a loop instead:
[code]

[2018-09-26 06:51] gempir commented on #3312
@keradus alright I understand. Without more discussing about this new feature could you still explain your Example though? Why are you using "same" (is this meant to be self?) and I don't think this would accomplish what I want. This is how I currently do it:

[code]

[2018-09-26 12:27] mschop opened #3313 "Testing exceptions using callables"
Hi,

this is a feature request regarding testing exceptions.

I often have the case, where I would like to test multiple simple Exceptions. I would find it much better if I would not have to create a new test class method for every exception I am testing. Instead it would be nice, if I could pass a callable to an assertion that gets called by phpunit and if this callable throws an Exception, the f

[2018-09-26 12:45] mschop commented on #3313
Well something I forgot to mention. It would enable easier clean up, if a test e.g. created a file.

[code]

[2018-09-26 15:23] #3313 closed, assigned to nobody

[2018-09-26 18:18] ColinLaws commented on #3162
I hope this input is in the right spot or is appropriate for this thread. I have been having issues with using the test output of PHPUnit with systems that support JUnit. Proper JUnit support would be ideal (at least in the scope of my own personal implementation), as I have seen JUnit as a widely accepted test format.

[2018-09-26 18:49] mschop commented on #3313
@sebastianbergmann I would like to keep the discussion open. Your only argument in the article against this approach is "a test should only test one thing". I partially agree on that, but sometimes this is just impractical. E.g. when testing some disallowed function parameter values, this leads to unnecessary verbose code.

The second argument for such approach is the ease of clean up. Yes, you ca

[2018-09-26 22:52] keradus commented on #3313
your test methods looks almost the same - logic is the same, while data are different (different input for `setX`, different expectation class) - write your test as single method yet with data provider that provides 3 cases.

[2018-09-26 22:53] keradus commented on #3162
issue is that nobody knows how proper support would look alike, as there is no official data scheme for JUnit format

[2018-09-27 06:46] EtienneBruines commented on #3313
To continue this discussing, and the point @keradus raised:

This way you're basically using the `result` parameter for a place you can also put `Exception` classes. Which makes somewhat sense, since it is the result you're looking for.

[code]

Alternatively, a forth parameter could be used to indicate the exception:

[code]

This way you have a clearer separation of results and exceptions, but d

[2018-09-27 07:28] pzaj2 opened #3314 "Mocking a final method from a base class on a class extending it fails silently"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.9
| Installation Method | Composer

Simply put, mocking a class extending `\Exception` I was wondering why `getMessage` returns an empty string despite being mocked. It happens to be a public final method of `\Exception`. While I haven't checked, I'd risk saying that this wil

[2018-09-27 07:55] Tominounet opened #3315 "AssertContains : $ignorecase doesn't work"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13
| PHP version         | 7.2
| Installation Method | PHAR

I'm using and learning how to test my code with PHPUnit. I had some test to make, so I can understand some asserts. Then I tried this one :

![image](https://user-images.githubusercontent.com/26654281/46130896-b2e45400-c23a-11e8-802f-11a05e7728c

[2018-09-27 08:13] nfalco79 commented on #3162
yes and no.
JUnit java library has not define an official schema for XML report. You can choose to follow one of already supported schemas ([maven surefire](http://maven.apache.org/surefire/maven-surefire-plugin/xsd/surefire-test-report.xsd) or [junit ant task](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd)).

[2018-09-27 08:14] mschop commented on #3313
@EtienneBruines Ok. That solution makes sense. Even if I would still prefer the callable approach ;-) your solution makes abolutely sense.

Thanks you!

[2018-09-27 15:01] ColinLaws commented on #3162
@keradus Forgive me, I'm definitely not the expert when it comes to this. I'm just an end user who consumes PHPUnit and would like to use it in Azure DevOps (and they don't support nested test suites). I wish everyone could agree on an open testing standard, but I don't know if there'd be a way to make it fit everyone's needs given there may be language specific data.

[2018-09-27 16:48] keradus commented on #3313
I am writing one with separated `$expectedResult` and `\Exception? $expectedException` indeed

[2018-09-27 19:31] sebastianbergmann commented on #3315
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting. Do not use screenshots of code.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-09-27 19:32] #3127 closed

[2018-09-27 19:32] sebastianbergmann commented on #3314
Duplicate of #3127.

[2018-09-27 19:32] #3314 closed

[2018-09-27 19:57] Krinkle commented on #3127
@sebastianbergmann Would you accept a PR that ports this to PHPUnit 6?

[2018-09-27 21:20] keradus commented on #3312
yeah, it was `self::` indeed

oh, so you don't want to check that each name contain `Wolfgang`, you want to check that at least on of them matches it? then, it's definitely a custom logic that is not generic enough to create dedicated, built-in assertion for it. if you want, you can still create custom assertion in your repo codebase

[2018-09-28 06:41] sebastianbergmann commented on #3301
I am going to release what we have right now (what @sebastianheuer implemented during the last code sprint) next week as part of PHPUnit 7.4. We can improve on this later.

[2018-09-28 09:44] denisdulici commented on #2434
For Windows, if you don't add PATH, this one works `vendor\bin\phpunit`

[2018-09-30 14:36] ChangePlaces commented on #3232
not stale

[2018-10-01 04:00] mkasberg commented on #3315
I'm not sure this is actually a bug. I think the code is behaving more or less as expected, and the behavior is documented in the [PHPUnit documentation](https://phpunit.readthedocs.io/en/7.3/assertions.html#assertcontains) (for both 7 and [6.5](https://phpunit.de/manual/6.5/en/appendixes.assertions.html#appendixes.assertions.assertContains)).

`assertContains()` has 2 documented forms:

* `assert

[2018-10-01 08:57] ilya33000 opened #3318 "how to skip from specific code in original code"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 5.7.27
| PHP version         | 5.6.14
| Installation Method | Composer / PHAR

Hi Mr Sebastian
I'm beginner in PHPUnit.
I have this code for substr function for test:
/**
if ($start >= $strlen) {
    $result = '';
}
else if (function_exists('mb_substr')) {
    mb_internal_encoding("UTF-8");
    $result = mb_s

[2018-10-01 08:58] sebastianbergmann commented on #3318
This is not a discussion or support forum, sorry.

[2018-10-01 08:58] #3318 closed

[2018-10-01 11:54] sebastianheuer commented on #3301
I am struggling a bit with implementing the composer-style restart. One of the simplest things I can imagine right now is calling `passthrough()` with the command coming from `$argv`. I got that working in a PoC, but it would require some smaller changes like omitting the version output in the second run - and I cannot really imagine the possible pitfalls there.  Is this what you had in mind, @seb

[2018-10-02 09:11] KartaviK opened #3319 "Bug with assertArraySubset()"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2
| Installation Method | Composer

I use Yii2 framework.
I try to assert array with rules for model but i catch an unhandled situation.
I have an abstract class and another class that extends it. I merged rules from abstract class and extended

This is how functions look like:

[2018-10-02 12:28] #3227 closed

[2018-10-02 15:33] Danon opened #3320 "Cannot build application on HHVM"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | `^6.4`
| PHP version         | HipHop VM 3.28.3
| Installation Method | Composer

While running a travis build for `hhvm` this is an error I get
[code]

What can I do to run tests in PhpUnit on hhvm?

[2018-10-02 15:33] Danon commented on #3320
[code]

[2018-10-02 15:48] sebastianbergmann commented on #3320
HHVM is not supported.

[2018-10-02 15:48] #3320 closed

[2018-10-02 15:59] Danon commented on #3320
Yes, I found that out, but is there anything I can do to run the tests on HHVM? Can I downgrade it to some version or something?

Is there no way to run it, other than to rewrite my tests to other testing framework?

[2018-10-03 17:18] shawnpyle commented on #836
If your `@dataProvider` requires setup code and they aren't terribly large, you can specify them as strings and `eval` them in the test. For example:

[code]

[2018-10-03 19:46] jaesung2061 opened #3322 "Allow multiple directories for code coverage"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.5
| PHP version         | 7.2.9
| Installation Method | Composer

I have two directories that I need to check code coverage for. However, there doesn't seem to be a way to include both directories. Attempting to do so causes some kind of auto-loading error.

Example config:

    <?xml version="1.0" encodi

[2018-10-04 03:40] sebastianbergmann commented on #3322
Whitelisting multiple directories for code coverage works just fine. Do note, though, that all whitelisted files will be included because you set `processUncoveredFilesFromWhitelist="true"`. This is likely the cause for the problem you are experiencing (because you likely include files that not only contain class/interface/trait declarations).

[2018-10-04 03:40] #3322 closed

[2018-10-05 08:41] garak commented on #3195
Since 7.4 is out, I guess that this should be moved to milestone 7.5

[2018-10-05 16:54] epdenouden commented on #3246
@reinholdfuereder Apologies for the delay, I have some time this weekend to finally look into this.

To answer one question quickly: _but I am also wondering why the execution order "by-defect" also seems to consider incomplete tests?_
The sorting algorithm only considers tests that would require fixing business logic to be defective:
- errors: PHP errors, for example syntax, missing `require()`,

[2018-10-05 17:10] KristopherWindsor opened #3324 "Phpunit 7.4 breaks paratest"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.0
| PHP version         | 7.2.5
| Installation Method | Composer

I'm a little short on the details of exactly what is happening, so bear with me. Maybe someone else with the same issue can add more info.

We run our unit tests in Jenkins with this command:

[code]

Every time we run the tests in Jenkins,

[2018-10-05 18:07] keradus opened #3325 "Make ExceptionMessage constraint strict"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | ?
| PHP version         | not related
| Installation Method | not related

Heavily descried in:
https://github.com/sebastianbergmann/phpunit/pull/3309#discussion_r219665621

`Constraint\ExceptionMessage`, used under the hood by `expectExceptionMessage` and `@expectedExceptionMessage` is not strict about expec

[2018-10-05 18:07] keradus commented on #3325
fyi @TomasVotruba

[2018-10-05 21:58] keradus commented on #3324
[code]

what is the failure message ?

[2018-10-05 23:57] KristopherWindsor commented on #3324
Thanks,

[2018-10-06 03:41] sebastianbergmann commented on #3324
Please report this to the paratest project.

[2018-10-06 03:41] #3324 closed

[2018-10-06 03:43] sebastianbergmann commented on #3325
I would consider this a bugfix, too, and would appreciate a pull request for `6.5` (which will be merged to `7.4` and `master`).

[2018-10-09 08:57] ayg commented on #3320
HHVM has announced that [they no longer intend to maintain compatibility with PHP](https://hhvm.com/blog/2017/09/18/the-future-of-hhvm.html), so if you want to stay on HHVM, you should not expect to be able to use anything that's written for PHP.  You should commit your app to either PHP 7 without HHVM compatibility, or pure Hack without PHP compatibility.  Trying to work with both is going to cau

[2018-10-09 09:07] Danon commented on #3320
@ayg Yes, I'm aware of that. However, my applications still work under HHVM, so I see no reason to stop building it on HHVM.

The only thing, that's stopping me is PhpUnit, which can't be run on hhvm. If I were to rewrite all my tests to other Php testing frameworks, everything would work as expected

[2018-10-09 11:30] Danon commented on #3320
@epdenouden I wanted to do it! Really! but:
- I can't find and older version of PhpUnit, they all use variadic arguments which aren't compatible with HHVM
- I couldn't find a single test framework for HHVM, maybe you know one?
- Isn't PhpUnit 7.4 supposed to work on PHPv7? Cause it still doesn't work with hhvm.

Sorry, but the project I'm maintaining has to work for Php v7 and it would be nice if

[2018-10-09 12:04] epdenouden commented on #3320
Hello @Danon!

Yes, PHPUnit in fact requires PHP 7.1 or higher. Because we want to use every bit of performance we can get and the new language features are nice, too. Since PHP7 is the way forward HHVM support has actually *been removed* from PHPUnit a while ago.

I do not know of any other frameworks that keep support for either PHP5 or HHVM alive. Keep in mind that both those technologies are a

[2018-10-09 12:17] epdenouden commented on #3320
@Danon The short answer is: _you cannot run your PHPUnit tests on the HHVM_

I understand you want your project to run both on PHP v7 and the HHVM. The closest you can come to a 'solution' would be: write extensive tests for your library (the regular expression one?) and make sure it's 100% coverage and green, so you are pretty sure everything works as expected.

Then cover the HHVM runtime contex

[2018-10-09 12:18] epdenouden commented on #3320
BTW, keep in mind that this will complicate your CI: now you will have to run your project through two testing unit test passes, each with a slightly different PHP version+config.

[2018-10-09 12:32] epdenouden commented on #3320
Ok, I will rephrase and answer your exact questions:
- I personally do not know what the last version of PHPUnit was that supports the HHVM. To find out, search for the phrase 'HHVM' in the README files of previous versions. Myself I only started contributing starting with PHPUnit v7 and as far as I know HHVM is looooong ago.
- I never researched HHVM compatibility of other testing frameworks. How

[2018-10-09 13:59] pscheit commented on #3325
My 2 cents: this makes the (already screwed up) exception api so much more worse...
now I have to write a regexp for every "contains" check of my exception message?
Why would I want to test thee FULL assertion message in exceptions? Someone corrects a typo and the tests will fail.

at least add something like:
expectedExceptionMessageContains() or s.th.

[2018-10-09 13:59] siraic commented on #3320
- HHVM never aimed to support PHP7, only PHP5. Any support for PHP 7 code is purely coincidental. They are now on a path to remove PHP support altogether and fully focus on Hack in future versions.
- PHPUnit 6 and up only supports PHP7, PHPUnit 5 supported both 5.6 and 7, but since typed variadic function arguments (introduced in 5.6) were never supported in HHVM, I'm not sure that version is goin

[2018-10-09 14:13] pscheit opened #3330 "Add -dev to command line output, when non-stable-release phpunit version is installed"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | all
| PHP version         | all
| Installation Method | Composer

I tripped over this the second time and didn't remembered from the first time... took me ages to get it:

e.g. if you install phpunit with composer and have a minimum stability dev in your composer project root file. You might get the phpunit v

[2018-10-09 14:17] pscheit commented on #3325
imho this is a BC break and must not go to branch 6.5.x-dev right?

[2018-10-10 04:52] pscheit commented on #3325
I don't want to use annotations and still: i need to write a regexp for "contains". I'm just saying: this issue will decrease developer experience

[2018-10-10 05:03] TomasVotruba commented on #3325
I don't use annotations neither, as they're [not recommended](https://thephp.cc/news/2016/02/questioning-phpunit-best-practices).

There is method:

[code]

But still I prefer specific 100% exception match. Otherwise it has no value to test that exception contains some text.

[2018-10-10 05:15] sebastianbergmann commented on #3325
I have reverted the change(s) in the `6.5` branch.

[2018-10-10 05:17] sebastianbergmann commented on #3330
[code]
[code]
[code]

[2018-10-10 05:17] #3330 closed

[2018-10-10 05:19] sebastianbergmann opened #3332 "Deprecate annotation(s) for expecting exceptions"

[2018-10-10 05:19] sebastianbergmann opened #3333 "Remove annotation(s) for expecting exceptions"

[2018-10-10 06:00] pscheit commented on #3330
nice. So it works, when phpunit is used as a dependency.. Fair enough.

Too bad, that symfonys phpunit-bridge installs phpunit from its own composer.json. But I already know, what you're gonna reply to that...

[2018-10-10 08:59] sebastianbergmann opened #3334 "Drop support for PHP 7.2"
[Active support for PHP 7.2 ends on November 30, 2019.](http://php.net/supported-versions.php) PHPUnit 9.0, due on February 7, 2020, will therefore not be supported on PHP 7.2 anymore.

[2018-10-10 13:27] sebastianbergmann opened #3336 "Remove $maxDepth attribute, parameter, etc."
Moved here from https://github.com/sebastianbergmann/phpunit/pull/3335#issuecomment-428570649.

[2018-10-10 13:33] localheinz commented on #3336
Also replaces #3180.

[2018-10-10 13:58] #3180 closed

[2018-10-10 14:21] sebastianbergmann commented on #3336
Removing the `$maxDepth` parameter from `assertEquals()` etc. will break all tests that use `assertEquals()` with optional parameters that go after `$maxDepth`.

The only way to clean up `assertEquals()` that {hopefully|possibly} causes less problems would be to clean up more drastically and not only remove `$maxDepth` but also all optional parameters that come after it. This, too, is not really a

[2018-10-10 17:17] Jean85 commented on #3336
The only parameter that I used sometimes is the ignore case one. Never used any other.

Migrating to a dedicated assertion for that seems a reasonable upgrade path for me.

[2018-10-11 05:01] sebastianbergmann commented on #3332
While I initially wanted to do that, I do not think that the two months between December and February are enough for a deprecation period.

[2018-10-11 05:56] sebastianbergmann opened #3338 "Deprecate assertions that operate on (non-public) attributes"
The following assertions should be deprecated:

* `assertAttributeContains()`
* `assertAttributeNotContains()`
* `assertAttributeContainsOnly()`
* `assertAttributeNotContainsOnly()`
* `assertAttributeCount()`
* `assertAttributeNotCount()`
* `assertAttributeEquals()`
* `assertAttributeNotEquals()`
* `assertAttributeEmpty()`
* `assertAttributeNotEmpty()`
* `assertAttributeGreaterThan()`
* `assertAtt

[2018-10-11 05:56] sebastianbergmann opened #3339 "Remove assertions (and helper methods) that operate on (non-public) attributes"
The following methods should be removed:

* `assertAttributeContains()`
* `assertAttributeNotContains()`
* `assertAttributeContainsOnly()`
* `assertAttributeNotContainsOnly()`
* `assertAttributeCount()`
* `assertAttributeNotCount()`
* `assertAttributeEquals()`
* `assertAttributeNotEquals()`
* `assertAttributeEmpty()`
* `assertAttributeNotEmpty()`
* `assertAttributeGreaterThan()`
* `assertAttribute

[2018-10-11 05:58] sebastianbergmann opened #3340 "Specializations of assertEquals() and assertNotEquals()"
Implement the following methods

* `assertEqualsCanonicalizing()`
* `assertEqualsIgnoringCase()`
* `assertEqualsWithDelta()`
* `assertNotEqualsCanonicalizing()`
* `assertNotEqualsIgnoringCase()`
* `assertNotEqualsWithDelta()`

to replace the respective optional parameters for `assertEquals()` and `assertNotEquals()`.

[2018-10-11 06:48] localheinz commented on #3339
@sebastianbergmann

Interesting!

When you have the time, can you share what the plans are? Should these be replaced by using non-specialized (or domain-specific) assertions in userland code?

[2018-10-11 07:00] sebastianbergmann commented on #3339
These assertions make it too easy to test implementation details (`private` and `protected` attributes) that should not be tested directly.

[2018-10-11 07:04] localheinz commented on #3339
@sebastianbergmann

Ha, I missed the `Attribute` part. Let’s kill them with 🔥!

[2018-10-11 07:22] sebastianbergmann opened #3341 "Deprecate optional parameters of assertEquals() and assertNotEquals()"
These optional parameters of `assertEquals()` and `assertNotEquals()` should be deprecated:

* `$delta` (use `assertEqualsWithDelta()` or `assertNotEqualsWithDelta()` from #3340 instead)
* `$maxDepth` (respective functionality was removed)
* `$canonicalize` (use `assertEqualsCanonicalizing()` or `assertNotEqualsCanonicalizing()` from #3340 instead)
* `$ignoreCase` (use `assertEqualsIgnoringCase()`

[2018-10-11 07:22] sebastianbergmann opened #3342 "Remove optional parameters of assertEquals() and assertNotEquals()"
These optional parameters of `assertEquals()` and `assertNotEquals()` should be removed:

* `$delta` (use `assertEqualsWithDelta()` or `assertNotEqualsWithDelta()` from #3340 instead)
* `$maxDepth` (respective functionality was removed)
* `$canonicalize` (use `assertEqualsCanonicalizing()` or `assertNotEqualsCanonicalizing()` from #3340 instead)
* `$ignoreCase` (use `assertEqualsIgnoringCase()` or

[2018-10-11 07:23] #3336 closed, assigned to nobody

[2018-10-11 07:37] localheinz commented on #3178
@sebastianbergmann

Agree!

[2018-10-11 08:47] stof commented on #3340
What about combinations of this flags:

- asserting that 2 arrays contains the same case-insensitive values without a constraint on the order (canonicalize + ignore case)
- asserting that 2 arrays contains the same floats (with delta) without a constraint on the order (canonicalize + delta)

The new methods don't account for all combinations of it (and the comparator library still has them as opti

[2018-10-11 09:11] #3340 closed

[2018-10-11 11:49] keradus commented on #3332
I believe it's fine - one thing is that it's not that short - but other, not everyone will migrate to new MAJOR at beginning of February.

looking at packagist stats ( https://repo-stats.github.io ), fragmentation is big
![screenshot from 2018-10-11 13-48-38](https://user-images.githubusercontent.com/2716794/46802024-79443a80-cd5c-11e8-8760-5173f556e913.png)

for that, I believe it's worth to do i

[2018-10-11 15:29] Tobion commented on #3185
We are also affected by this heavy bc break. While I agree that the edge cases in #58 are bad and should be avoided, I don't think changing `assertEquals` for this is the correct move. AssertEquals has always been (to me), about loose comparison that potentially includes type juggling. If you know both values are of type string and you want to make sure, the above edge cases do not trigger like `'

[2018-10-11 15:39] Ocramius commented on #3185
FWIW, either things are equalent or they aren't: you will need to make up
your mind about whether your code follows this very fundamental principle
or not, because `==` is most certainly no longer a suitable equivalence
operator (or opcode) anymore anyway, as per findings in the test assets in
here.

On Thu, 11 Oct 2018, 17:34 Tobias Schultze, <notifications@github.com>
wrote:

[2018-10-11 15:45] Tobion commented on #3185
In our case we used assertEquals for monetary values (represented as string obviously) and relied on the fact that trailing zeros are ignored (because the internal representation might use more decimals).

So the workaround given my @Ocramius to use `$self::assertEquals(0, '0.00')` does not work either because you don't represent money as float but as string. So both values are always string but n

[2018-10-11 22:15] ayrtonvwf opened #3344 "Test don't close its output buffer with specific session ini setting"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.0
| PHP version         | 7.2.10
| Installation Method | Composer

When setting the ini values `session.use_only_cookies` to `0` and `session.use_trans_id` to `1`, and starting a session, PHPUnit warns that the output buffers wasn't closed.

- Other combination of values to these ini settings didn't trigg

[2018-10-12 06:40] sebastianbergmann commented on #3344
I assume that using sessions with `session.use_trans_sid` opens an output buffer that must be closed.

In general, avoid using PHP's session functionality on the CLI.

[2018-10-12 06:40] #3344 closed

[2018-10-12 07:02] dominikzogg opened #3345 "$mock->expects->at(0)->method('methodName') is green, event if the method name is different"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.1.5
| PHP version         | 7.2.10
| Installation Method | Composer

I've build a mock helper on top of phpunit mock. To test as strict as possible i work with ->at(). The tests are green even if i put the wrong method name as long there is a at() exists.

https://github.com/chubbyphp/chubbyphp-mock/blob/ma

[2018-10-12 07:06] sebastianbergmann commented on #3345
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-10-12 07:42] dominikzogg commented on #3345
@sebastianbergmann with a simple example i cannot reproduce it, it seems it depends on the mocked class, the original test mocks the symfony ContainerBuilder

[code]

[2018-10-12 07:49] dominikzogg commented on #3345
@sebastianbergmann got a example that breaks, as explained

[code]

[2018-10-12 07:49] sebastianbergmann commented on #3345
Then I cannot help you, sorry.

[2018-10-12 07:50] sebastianbergmann commented on #3345
That is not minimal and self-contained, sorry.

[2018-10-12 07:53] dominikzogg commented on #3345
@sebastianbergmann if i replace self::at(0) with self::once(), self::at(1) with self::once() it behaves as expected, so this problem only apears with at()

[2018-10-12 07:57] dominikzogg commented on #3345
@nicolas-grekas do you have an idea, why mocking the ContainerBuilder leads to this issue?
@sebastianbergmann have this issue not the first time (also mocking other objects), but can't remember and example, so i try to find other ones to find similarities

[2018-10-12 09:15] camillevillnv opened #3346 "Code coverage shows 0%"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     |  5.7.27
| PHP version         | 7.2.5
| Installation Method | Composer

The tests are being run and I get a successful result however upon opening `dashboard.html`, it shows 0% code coverage both for classes and methods, but the whitelisted files are listed. The methods are highlighted in red, meaning not exe

[2018-10-12 09:29] sebastianbergmann commented on #3346
This [should](https://github.com/sebastianbergmann/phpunit/blob/master/.github/CONTRIBUTING.md#reporting-issues) have been reported on the [php-code-coverage](https://github.com/sebastianbergmann/php-code-coverage) project.

I am sorry that I have to close this issue here as GitHub does not support moving issues from one project to another.

[2018-10-12 09:29] #3346 closed

[2018-10-13 14:42] guilliamxavier opened #3347 "assertCount throws an Exception for a decorated Generator Iterator"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13 / 7.4.3
| PHP version         | 7.0.31 / 7.1.22 / 7.2.10
| Installation Method | (not relevant)

Given

(1) the following example class (in a vertically-compacted coding style):

[code]

(2) a utility function:

[code]

(3) that the following test passes:

[code]

then the (expected-to-pass) test:

[co

[2018-10-16 06:00] keller0 commented on #1613
The path should be:
`ln -s ../phpunit/phpunit/phpunit vendor/bin/phpunit`

[2018-10-16 10:59] KartaviK commented on #3319
This issue is no longer relevant

[2018-10-16 10:59] #3319 closed

[2018-10-16 22:38] DavertMik commented on #3236
Hi, Sebastian.
There are quite a lot o projects which may use PHPUnit via its current API and it would be nice to keep it stable. Codeception is one of them. I'd kindly ask to make all APIs used here https://github.com/Codeception/phpunit-wrapper to be considered as public API.

Also, I know that JetBrains also heavily relies on PHPUnit internals to make their integration working.
Not sure of issu

[2018-10-17 05:30] sebastianbergmann commented on #3236
JetBrains does not rely on PHPUnit internals, not since the TeamCity test listener was added to PHPUnit.

[2018-10-17 08:18] keradus commented on #3236
Nice thing with public API is that if sth is not marked as part of it, it can always become part of it.
But if it's already marked as public, taking it down is BC breaker.

Saying that - if we will make public API too narrow, we can always make it wider with any release (minor or even patch)

[2018-10-17 08:57] mrodler8com opened #3351 "Colors in phpunit.xml will not be recognized on Windows Environment"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.0
| PHP version         | 7.2.11
| Installation Method | Composer
| OS                    | Windows 10 x64

### Composer info | sort
[code]

### phpunit.xml
[code]

### Problem description
In the example phpunit.xml above I set colors to true. If I use the PowerShell or the old classic Commandline it will

[2018-10-17 09:10] edorian commented on #3351
Hey,

do add some context as to why this is happening to the best of my undertstanding:

The xml configuration `colors=true` is equal to `--colors` or `--colors=auto` meaning PHPUnit will try to detect if the output is a termin that supports colors and act accordingly.

`--colors=always` forces color output on terminals that don't identify themselfs as supporting colors in a way phpunit understand

[2018-10-17 11:00] keradus commented on #3351
not sure would it fix this concrete issue, but in general - yes, we can update environment Console:
https://github.com/sebastianbergmann/environment/pull/25

[2018-10-17 12:37] sebastianbergmann commented on #3351
Wow, long time no see, @edorian :-)

[2018-10-17 12:37] sebastianbergmann commented on #3351
@keradus Thank you!

[2018-10-17 12:37] sebastianbergmann commented on #3351
Closing this as this should be fixed by sebastianbergmann/environment#25.

[2018-10-17 12:37] #3351 closed

[2018-10-17 13:07] temp opened #3352 "Running phpunit-7.4.0.phar with phpdbg throws NOTICE"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.0
| PHP version         | phpdbg 7.2.10
| Installation Method | PHAR

phpunit installed via phive.
When calling ```phpdbg -qrr /usr/local/bin/phpunit``` the folling NOTICE is shown:
[code]

Guess that $_SERVER is simply not set in phpdbg?

This line raises the notice, I guess in build/binary-phar-autoload

[2018-10-17 13:32] temp commented on #3352
No auto-prepend script. phpdbg runs in a Docker Container with PHP 7.2 coming from Alpine 3.8.
Weird. Will investigate further and report.

[2018-10-17 14:06] temp commented on #3352
Ok, even weirder, this does look like phpdbg specific behavior. $GLOBALS['_SERVER'] is only set after $_SERVER is accessed:

[code]
[code]

[code]

[code]

[code]
[code]

[2018-10-17 15:32] marcelloh opened #3353 "Requesting less than 16 columns of output results in an error"
I was looking for a way to skip the process info, and only deal with the end information about failing tests, so Isaw the columns param for the command-line.

When set to zero, it brakes :-(

(btw:: is there a possibility to skip the dots and percentage parts of the output?)

| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.0
| PHP version         | 7.2

[2018-10-17 16:40] #3353 closed

[2018-10-18 05:28] sebastianbergmann commented on #3257
Not interested, sorry.

[2018-10-18 05:28] #3257 closed

[2018-10-18 08:39] sebastianbergmann commented on #3353
No, there is no way to skip the dots and percentage parts of the output.

[2018-10-18 12:32] remicollet opened #3354 "[7.4.1] regression"
From fedora QA, 7.4.1 break some test suite
e.g. php-cs-fixer one
https://apps.fedoraproject.org/koschei/package/php-cs-fixer?collection=f30

[code]

[2018-10-18 12:36] remicollet commented on #3354
Notice: output have `Less than 16 columns requested, number of columns set to 16` while configuration file have `colums="max"`

[2018-10-18 21:42] trickeyone opened #3357 "Parameter type mismatch: string"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.1
| PHP version         | 7.2.11
| Installation Method | Composer

A number of methods in PHPUnit classes that expect primitive values (i.e. string) are not properly typing the parameter as `\string`. This is really a minor issue, but my IDE complains about it when I call the methods. Everything still exe

[2018-10-18 22:14] trickeyone commented on #3357
Apologies. Can be ignored. It ended up being that my IDE wasn't identifying the correct PHP version.

[2018-10-18 22:14] #3357 closed

[2018-10-18 22:57] joey-madwire opened #3358 "Failing Validation on lines that don't exist"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.1
| PHP version         | 7.2.4
| Installation Method | Composer

I was trying to run code coverage on my code but when I do I get the following error:

[code]

I don't have that attribute in my file. I tested the command by putting in a fake file, and it noticed that file didn't exist, so I'm reasonably

[2018-10-19 06:53] sebastianbergmann commented on #3358
Please show the full output of the PHPUnit execution.

[2018-10-19 12:13] epdenouden commented on #3246
@reinholdfuereder Is the repo or application you are using for your test public, can I find it on Github somewhere?

[2018-10-20 02:58] DavidPrevot opened #3361 "[PHP 7.3] Regression with xdebug"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.1
| PHP version         | 7.3.0RC3
| Installation Method | Debian

Hi,

With PHP 7.3, if xdebug is enabled, the following internal test now fails:

[code]

It seems that xdebug is not loaded in the travis configuration ([test is skipped](https://travis-ci.org/sebastianbergmann/phpunit/jobs/443673126#L629)

[2018-10-20 16:06] reinholdfuereder commented on #3246
@epdenouden

- No, sorry, the code is not public; if necessary, I could try to write some small re-producer examples (but judging from your lines below concerning quite specific limitations it may not be that easy!?)
- Yes, IIRC there are a lot of different PHPUnit test classes with typically quite often more than one different data provider (within each PHPUnit test class) -- is the latter vital

[2018-10-21 05:49] joey-madwire commented on #3358
I apologize, it must have been something with my system. I can't reproduce this anymore. Thank you for looking into it!

[2018-10-21 05:49] #3358 closed

[2018-10-21 13:31] ScreamingDev opened #3363 "Constraints as own package"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | I am here since ~4
| PHP version         | 6
| Installation Method | yes

The constraints like "IsEqual" or "StringMatches" are so great for using them in other projects. Right now I would have the need to write configurations using those classes like

[code]

And even extend them like the IsUuid above is jus

[2018-10-21 13:33] sebastianbergmann commented on #3363
This was attempted in the past and abandoned because it is not worth the effort.

[2018-10-21 13:33] #3363 closed

[2018-10-22 07:38] wbars commented on #3236
I confirm, starting with PHPUnit 5.0 PhpStorm integration relies only on _output_ of TeamCity.php atm

[2018-10-23 04:48] ScreamingDev commented on #3363
Ok. I extract this then and put it on packagist.org even if I could be the only one using it ^^

[2018-10-23 06:45] MaximilianKresse opened #3364 "PhpStorm/Teamcity + PhpUnit 7.4.1 - Error in setUpBeforeClass"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | >=7.4.0
| PHP version         | 7.1.8
| Installation Method | Composer

Sample:
[code]

[code]

When I run this test in phpstorm i will just get "Empty test suite." with the success icon without any failed test. Full output:
[code]

There seems to be an critical error in the teamcity logger (src/Util/Log/Team

[2018-10-23 06:47] sebastianbergmann commented on #3364
**ping** @SvetlanaZem

[2018-10-23 09:53] SvetlanaZem commented on #3364
@sebastianbergmann Thank you!
@wbars  Would you please take a look?

[2018-10-23 15:37] lathspell opened #3365 "Want Util::registerGlobalFunctions() like Hamcrest has"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 5.7.27
| PHP version         | 7.0.30
| Installation Method | Composer

I like to use the short global function syntax like "assertNull()" without "self::" so I have to write ` require_once __DIR__ . '/../../../../vendor/phpunit/phpunit/src/Framework/Assert/Functions.php';` which looks ugly and breaks wheneve

[2018-10-23 15:49] keradus commented on #3365
:-1:

please don't make it easy to pollute global php namespace

[2018-10-23 16:42] sebastianbergmann commented on #3365
No.

[2018-10-23 16:42] #3365 closed

[2018-10-24 07:45] Chad-Krause2 opened #3366 "MySQL bit(1) inserts nothing for Database test using YAML Dataset"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.0.0
| PHP version         | 7.1
| Installation Method | Composer

When I go to test my models, I have mock rows stored as a YAML file. I insert the rows using the built in GetDataSet() function from TestCase class. I have some columns (such as enabled or confirmed) that are booleans (bit(1)). The unit tests

[2018-10-24 09:49] wbars commented on #3364
@sebastianbergmann Why `!$test instanceof TestCase` check was introduced in the first place? As I can tell, here is flow of the problem:
 - We run test suite
 - `setUpBeforeClass` got invoked, throws an exception
 - error is nor registered in our engine singe `addError` will silently return
 - `testSomething` is not invoked

After that we got unexpected inconsistent state when we run 0 tests, but

[2018-10-24 10:13] drugs-4-3 opened #3367 "Annotation @runTestsInSeparateProcesses makes false positives"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.9
| Installation Method | PHAR

https://stackoverflow.com/questions/52965511/phpunit-false-positives-when-running-tests-in-separate-processes

[code]

In short: thiscode returns all tests passed, when there is annotation @runTestsInSeparateProcesses.
Without the annotation, t

[2018-10-24 10:17] sebastianbergmann commented on #3366
This [should](https://github.com/sebastianbergmann/phpunit/blob/master/.github/CONTRIBUTING.md#reporting-issues) have been reported on the [dbunit](https://github.com/sebastianbergmann/dbunit) project.

I am sorry that I have to close this issue here as GitHub does not support moving issues from one project to another.

[2018-10-24 10:17] #3366 closed

[2018-10-24 10:43] drugs-4-3 commented on #3367
Well, that is strange.

[code]
[code]

[2018-10-24 11:52] sebastianbergmann commented on #3367
Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting and include how you install and invoke PHPUnit.

Without this information I will not be able to investigate this issue further.

[2018-10-24 11:56] sebastianbergmann opened #3368 "Implement specialized alternatives to assertInternalType() and assertNotInternalType()"
Implement
* `assertIsArray()`
* `assertIsBool()`
* `assertIsFloat()`
* `assertIsInt()`
* `assertIsNumeric()`
* `assertIsObject()`
* `assertIsResource()`
* `assertIsString()`
* `assertIsScalar()`
* `assertIsCallable()`
* `assertIsIterable()`
* `assertIsNotArray()`
* `assertIsNotBool()`
* `assertIsNotFloat()`
* `assertIsNotInt()`
* `assertIsNotNumeric()`
* `assertIsNotObject()`
* `assertIsNotResourc

[2018-10-24 11:58] sebastianbergmann opened #3369 "Deprecate assertInternalType() and assertNotInternalType()"
See https://github.com/sebastianbergmann/phpunit/issues/3368 for migration path.

[2018-10-24 11:59] sebastianbergmann opened #3370 "Remove assertInternalType() and assertNotInternalType()"
See https://github.com/sebastianbergmann/phpunit/issues/3368 for migration path.

[2018-10-26 09:19] csisy opened #3371 "@runInSeparateProcess and generated coverage HTML issue"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.3
| Installation Method | PHAR

The generated coverage HTML does not count the tests ran in separate process.
If I remove the @runInSeparateProcess annotation, then the coverage HTML result is updated properly (however the test itself fails because the framework printed some

[2018-10-26 10:00] rishavsharan opened #3372 "[Proposal] Configuring phpunit via env vars"
Hi guys

I work at MS Azure Devops which is a CI/CD system with a major focus on testing in pipelines. To give our users a rich reporting experience without forcing them to make any platform specific config, we want to be able to make changes to the reporting configs on the fly, in our pool machines.

This is something pytest allows via "PYTEST_ADDOPTS".
Essentially, something like `PHPUNIT_OPTS =

[2018-10-26 10:04] keradus commented on #3372
:-1: for magical, hidden env var.

you can always do `./phpunit $MY_FLAGS`

[2018-10-26 10:05] sebastianbergmann commented on #3372
Do I understand this proposal correctly that when the environment variable `PHPUNIT_OPTS` is set that PHPUnit should not parse `argv` for commandline options but the contents of said environment variable?

[2018-10-26 10:09] theseer commented on #3372
I fail to see how having an env var with a platform specific value is the opposite of a platform specific build option?

Setting it in some UI rather than having it version controlled within the repository feels wrong as well.

[2018-10-26 10:30] rishavsharan commented on #3372
@theseer We do not want to add platform specific values in the environment variable but rather normal phpunit config items like `--verbose` and `--log-junit`, the same ones which can be added via command line.
We would be happy with append only approach as well, but then we may have an issue where the user has defined a config in their project as ` --testdox-html <file>` while we have appended `--

[2018-10-26 10:45] theseer commented on #3372
What I meant with "platform specific" is that the values that these options get set to are platform specific. And I fail(ed) to see how that would be any different from passing them via CLI.

Sure, why wouldn't it? As far as I can tell, you are only going to run into issues if the user already has a setting for `--log-junit`. Having a magic env var though will not fix that? It will rather make the

[2018-10-26 10:47] epdenouden commented on #3372
@rishavsharan If you insist on using an environment variable, please do it the way @keradus has suggested or use that environment to instruct your orchestration tool like Ansible.

Here at Mollie we run it like this:
[code]

Works like a charm.

[2018-10-26 13:45] csisy commented on #3371
Made a sample project to easily reproduce the issue. Usage:

    - unzip
    - run "composer update"
    - run "php phpunit-7.4.3.phar"
    - check log/unit_tests.html
    - check log/coverage/index.html

[test.zip](https://github.com/sebastianbergmann/phpunit/files/2519397/test.zip)

[2018-10-29 07:36] #3361 closed

[2018-10-29 10:14] #3368 closed

[2018-10-30 06:33] csisy commented on #3371
Cannot be reproduced by Composer install.

[2018-10-30 15:10] Malbeth81 commented on #1598
How come this still isn't fixed after all this time? All that's needed is a simple try-catch in https://github.com/sebastianbergmann/phpunit/blob/master/src/Util/Blacklist.php

Or to disable class auto-loading like cezarpirajant suggests.

[2018-10-30 15:12] Malbeth81 commented on #1598
Since I didn't want to patch the PHPUnit library, I ended up doing this inside of my PHPUnit bootstrap instead:

`
// Remove missing classes from the PHPUnit blacklist, to prevent an exception rendering error.
// Workaround to fix the actual PHPUnit bug (see https://github.com/sebastianbergmann/phpunit/issues/1598).
if (!empty(PHPUnit_Util_Blacklist::$blacklistedClassNames)) {
  foreach (PHPUnit_U

[2018-10-30 15:21] epdenouden commented on #1598
@Malbeth81 What version of PHPUnit are you running? If the fix is really this simple, pull requests for breaking bugs are still accepted for older versions. Is there a self-contained testcase?

[2018-10-30 15:23] epdenouden commented on #3246
@reinholdfuereder No worries about the timing. As you can see, I'm also not as quick as I like with working on this, with the new(ish) job and all.

I will just go ahead and try to break the edge cases I have in my head right now and report back here.

[2018-10-30 22:50] BenMorel commented on #3212
I think I have a similar use case: I'm trying to test a database abstraction layer, that sits on top of mysqli/PDO/etc:

- `Connection`
    - `MysqliConnection`
    - `PDOConnection`

My tests look like:

- `abstract` `ConnectionTest`
    - `MysqliConnectionTest`
    - `abstract` `PDOConnectionTest`
        - `PDOMySQLConnectionTest`
        - `PDOSQLiteConnectionTest`

The problem lies with the P

[2018-10-31 12:35] nickel715 opened #3376 "Test without @covers annotation is only marked as risky when forceCoversAnnotation=true and beStrictAboutCoversAnnotation=true is set"
In our project the `forceCoversAnnotation` option is enabled.
This option causes tests without covers annotations to cover nothing.
So it would be really helpful to get a warning about these tests without covers annotations.
In `CodeCoverage` there is a option `checkForMissingCoversAnnotation` which is enabled if `strictCoverage` is enabled, unfortunately this option also requires the uses annotat

[2018-10-31 12:39] sebastianbergmann commented on #3376
I do not understand

as PHPUnit marks any test without a `@covers` annotation as risky when `forceCoversAnnotation="true"` is set.

[2018-10-31 12:55] nickel715 commented on #3376
Then it seams to be a bug. I tested it in an isolated environment and i got no warning from phpunit: https://github.com/nickel715/phpunit-check-missing-covers-test

[2018-10-31 13:14] sebastianbergmann commented on #3376
Yes, this seems to be a bug.

A test without a `@covers` annotation is only marked as risky when `forceCoversAnnotation=true` and `beStrictAboutCoversAnnotation=true` is set. It should also be marked as risky when only `forceCoversAnnotation=true` is set.

[2018-10-31 13:20] nickel715 commented on #3376
So then #3375 should fix this bug?

[2018-10-31 13:53] nickel715 commented on #3376
I created a new branch as the old one was based on master.
The new branch is based on the latest release and contains fix for broken build

[2018-10-31 14:10] epdenouden commented on #1598
@Malbeth81 thanks for your reply, but v5 is too far back to receive further updates. There's bugfixes for 6.x, some new features for v7 and a serious refactoring for beyond.

[2018-10-31 14:39] sebastianbergmann commented on #3376
I did some digging and found https://github.com/sebastianbergmann/phpunit/commit/ac0528f7b12668ee6b744a27893da4ab7b0ffd02 and https://github.com/sebastianbergmann/php-code-coverage/commit/9c3582b20a916a5599ede39dea4b1248d1ad46d1.

I do not remember my reasoning from 2.5 years ago, but it appears that the current behaviour is intentional. So it's not a bug. Changing this would be a breaking change

[2018-10-31 14:39] #3376 closed

[2018-10-31 15:33] nickel715 commented on #3376
thanks for digging!
So as this behavior is intended I will come back to my feature request of having a additional option for only checking missing covers.

Not everyone wants this severity of strictness, like in our case we want to force covers annotations but don't want so mess with the uses annotations.

What's the disadvantage of adding this additional argument?

[2018-11-01 13:12] willemstuursma opened #3378 "Exception when missing expectation for methods that return objects of a final class is very unclear"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.2
| PHP version         | 7.1
| Installation Method | Composer

[code]

Results in the output:

[code]

It would be more useful if it could say something like:

[code]

Of course this example is simplified, but in practice the dependency can have many methods that return an object of a final class, and ca

[2018-11-01 14:15] OndraM opened #3379 "Dependent test of skipped test has status -1"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.11
| Installation Method | Composer

Hi,
we have a test method which is now being skipped using `markTestSkipped()`, and another test method which depends on this (now skipped) test:

[code]

We utilize custom TestListeners, especially addSkippedTest and endTest methods.

[co

[2018-11-02 07:08] sebastianbergmann opened #3380 ""Buffered" TestDox printer(s)"
Thanks to #3092, #3147, and #3284, the order in which tests are run is no longer (always) based on "order in which DirectoryIterator finds *Test.php files" and "order of test methods within test class". This renders the TestDox result printer(s)'(s) output useless.

The TestDox result printer(s) should be changed to buffer test results in order to ensure the right order and then emit all output af

[2018-11-02 07:08] sebastianbergmann commented on #3380
@rpkamp @epdenouden What do you think?

[2018-11-02 07:12] rpkamp commented on #3380
It makes sense, although I think it would make sense if this were opt-in behaviour for the printer that could be enabled through some flag (like `$expectNonLinearOutput`) so that the default behaviour is as it is now (which is very handy I think) but can be switched to buffer when the normal flow doesn't make much sense.

[2018-11-02 07:17] sebastianbergmann commented on #3380
Sorry for not making this clear: yes, the buffering should be optional. The test runner can detect whether the option is required or not and enable it automatically when it is.

[2018-11-02 18:02] epdenouden commented on #3246
@reinholdfuereder I have found a scenario that fails in a way that looks a lot like your report. Have added a test that reproduces the failure:

[code]

The issue can be found somewhere in the logic that bubbles cached test results up the search tree.
Although it's just a minor bug, it can make the tool feel unpredictable or make it look like the cache doesn't work. Good to have it fixed.

It will

[2018-11-04 14:58] epdenouden commented on #3380
@sebastianbergmann I'm all for it when it is optional. I regularly use the visibility of the changed execution order of the TestDox printer to debug the sorters, for example in #3246 :-)

[2018-11-05 08:22] DBX12 opened #3385 "CodeCeption not working in PhpStorm"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.1.x-dev (67289aa)
| PHP version         | 7.2.11
| Installation Method | Composer

As listed [here](https://github.com/justcoded/yii2-starter/issues/25) and [here](https://github.com/Codeception/Codeception/issues/4476) a bug prevents phpunit being used with codeception in PhpStorm. A simple fix by @yujin1s

[2018-11-05 19:20] sebastianbergmann opened #3387 "Specify a list of tests to run"
Implement a new CLI option `--filter-using-test-id-file <file>`  to select the tests to be run based on a list of test identifiers that is read from a plain text file. This file has one test identifier per line.

[2018-11-05 19:21] sebastianbergmann opened #3388 "Deprecate the TestListener interface"

[2018-11-05 19:22] sebastianbergmann opened #3389 "Remove the TestListener interface"

[2018-11-05 19:25] sebastianbergmann opened #3390 "Make TestHook interfaces as easy to use as TestListener"
This issue is where the discussion that was started in #3381 should continue.

Related to #3388 and #3389.

[2018-11-05 19:33] rpkamp opened #3391 "Add a Hook that fires after each test, regardless of result"
I currently have a TestListener that resets a service after each has run. This must be done regardless of the result of the test.

With the TestListener this is easy, implement `TestListener::endTest()` and done. However, with the new extension system no such hook exists and it seems I'd need to implement `AfterIncompleteTestHook`, `AfterRiskyTestHook`, `AfterSkippedTestHook`, `AfterTestErrorHook`

[2018-11-05 19:43] sebastianbergmann commented on #3391
I would not mind a pull request that adds an `AfterTestHook`.

[2018-11-05 21:04] #3391 closed

[2018-11-06 00:42] joesantos commented on #3334
I think there's a typo there: active support for PHP 7.2 ends on November 30. It made me wonder if I was missing something. Also, what does this support removal entails? I'm new here, and trying to get the hang of things. Thanks.

[2018-11-06 07:56] IanEmerson20 commented on #2830
public function inviteUserToOrganization(Organizations $organization, string $email_address)
    {
        $html_message =$this->templating_service->render('mails/allowed_login_notification.html.twig', [
            'org_obj'   	=> $organization,
			'email_address' => $email_address
        ]);
        $subject = "Welcome to {$organization->getDisplayName()}";
        $this->notification_service->

[2018-11-06 08:16] KintradimCrux commented on #2830
@sebastianbergmann It's not "magic", it's setting an environment variable with the PID of the main process to see if the isolated environment runs under the same PID, which it shouldn't. To tell if #3082 fixes the problem, i need to check this first, since all i can see on Codecov is "No pull request found".

[2018-11-06 10:14] epdenouden commented on #3334
Removing support just means the official requirements for PHPUnit will be upped to version >7.2 at that time. There direct effect is that the developer community doesn't have to worry about backwards compatibility of the code with PHP version 7.2 (and lower).

If that sounds abstract @joesantos, consider Facebook's HHVM engine. After HHVM announced they would not support upcoming PHP version 7+ wh

[2018-11-06 10:35] sebastianbergmann commented on #3385
Looking at https://github.com/Codeception/Codeception/issues/4476#issuecomment-368946638, I do not think that this workaround should be added to PHPUnit. This issue needs to be addressed either in Codeception or PhpStorm.

[2018-11-06 10:35] #3385 closed

[2018-11-06 11:34] epdenouden commented on #3380
@sebastianbergmann Question: being as busy as you are, shall I pick up implementing this? I have some familiarity with this part of the codebase and I use the feature in my daily work. Nevermind if you're already working on it.

[2018-11-06 11:37] sebastianbergmann commented on #3380
@epdenouden That would be great -- and much appreciated. I cannot get to this before next week at the earliest.

[2018-11-06 12:32] rpkamp commented on #3380
@epdenouden Seeing how the TestListener will be deprecated it would make more sense to implement this as an extension I think. But that would be easier once the CliTestDoxPrinter is also an extension, as you could then just decorate it, making it more generic in case other extensions need it as well.

That does need some more thought on how to get the printers from TestListeners to extensions thou

[2018-11-06 12:56] sebastianbergmann commented on #3380
Not sure that printers should be extensions, but they should definitely use the `TestHook` interfaces instead of the `TestListener` interface. #3390 is about finding a good way to do that.

[2018-11-06 13:33] epdenouden commented on #3380
Some food for thought then @rpkamp and @sebastianbergmann. I will first stomp the ordering bug #3246 and then code a proposal for this.

Unless were are doing double work when `CliTestDoxPrinter` is also getting an overhaul? Will read up on all discussions before I start coding.

[2018-11-07 11:27] agentmarine opened #3393 "Cross test conflict - forced to use process isolation"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.5
| Installation Method | Composer

[code]
Hey so I am having an issue with two of my unit tests, they both run in a separate file `ImportProductTest.php` and `ImportUserTest.php`

they both test that the API handles Malformed XML in an appropriate manor.

[code]

[code]
Each

[2018-11-07 11:56] epdenouden commented on #3393
Hi @agentmarine! Just a quick reply during lunchhour: the problem is almost certainly that the output buffer used by `$this->call` and `$output->getContent()` isn't cleared between calls. I am rather certain of this because this problem doesn't occur when you run the tests in isolation.

If you try to run PHPUnit with the option: `--order-by=reverse` I am betting you will see both blocks of conten

[2018-11-07 12:15] agentmarine commented on #3393
HI @epdenouden thanks for the reply, You would be correct, the value does come back in reverse.

I have attempted before now to actually set all my variables to null before actually using them with no affect as to what happens.

$this->call() is handled by Illuminate\Foundation\Testing\TestResponse which is part of the Laravel framework.

[2018-11-07 13:44] agentmarine commented on #3393
@epdenouden Thanks for the reply, I will take a look into that. Many thanks for the very quick response. I'll close this now 👍

[2018-11-07 13:44] #3393 closed

[2018-11-07 13:47] epdenouden commented on #3393
@agentmarine Likewise, thanks for the detailed report and context. Don't hesitate to ask if you think there's a bug. Some new features for detecting and isolating dependencies are quite new and I am very happy with feedback from the field.

[2018-11-07 14:00] rpkamp commented on #3390
A few thoughts:

1. The `TestHook` doesn't provide any functionality similar to TestListener::startTestSuite and TestListener::endTestSuite at the moment, but both `TeamCity` and `JUnit` use those and I don't see a way round it. So we probably need a `BeforeTestSuiteHook` and `AfterTestSuiteHook`?

2. In terms of BC it's probably easiest to implement all classes that currently use TestListener aga

[2018-11-07 18:41] rpkamp commented on #3390
I just tried a quick proof of concept to make the TeamCity logger an extension and as it stands this is not possible.

First of all, the printResult method (which would become the executeAfterLastTest method) needs a TestResult, but doesn't get one. Adding this to the interface would be a BC break.

Then the addError (which would become the executeAfterFailedTest I believe) needs access to the act

[2018-11-08 05:33] bugreportuser opened #3394 "Process Isolation does not work when PHPUnit is used as PHAR"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.10
| Installation Method | PHAR

This is related to https://github.com/sebastianbergmann/phpunit/issues/3367 and https://github.com/sebastianbergmann/phpunit/issues/3306.

When `--process-isolation` is added, no assertions run using the PHAR. If composer is used, the output i

[2018-11-08 07:58] TiMESPLiNTER opened #3395 "Test that a set_exception_handler actually works"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2
| Installation Method | Composer

A simplified code sample to demonstrate the "problem":

[code]

This will output:

I guess it's because PHPUnit wraps each test method call in a `try/catch` block and the exception gets handled there and never reaches my exception handler.

I

[2018-11-08 10:50] sebastianbergmann commented on #3394
I was able to reproduce the issue.

[2018-11-08 11:14] sebastianbergmann commented on #3291
This is required for process isolation to work when PHPUnit is used from a PHAR.

[2018-11-08 11:14] #3291 closed

[2018-11-08 11:40] #3394 closed

[2018-11-08 18:51] #3178 closed

[2018-11-08 18:53] sebastianbergmann commented on #2477
The `TestListener` interface will be deprecated (#3388) and removed (#3389) so there is no need for this.

[2018-11-08 18:53] #2477 closed

[2018-11-09 11:23] epdenouden opened #3396 "Improve internals of caching and execution ordering logic"
### Background
_As a_ software developer
_I want_ the test execution to be predictable
_so that_ my tests feel like a stable foundation

While working on #3246 it turned out to be another edge case for the `TestSuiteSorter`. The root cause for bugs and seemingly unpredictable execution re-orders is the way the `TestSuite`s and `TestCase`s are handled behind the scenes.

Like all testing frameworks

[2018-11-10 17:11] marcospassos opened #3397 "Add support for registering comparators in XML"
Consider adding support for registering comparators using XML. The lack of such configuration is the only reason why we need a custom bootstrap file instead of using the autoload file in our projects

[code]
It would extinguish boilerplate bootstrap files such as:

[code]

[2018-11-10 21:11] andreasschroth commented on #2840
This would definitely be useful. As @jakajancar already wrote, obviously there is some risk from skipped tests.

It might just be a mistake those tests are skipped, e.g. I saw it happen that a developer renamed a test method and another test method depending on it still had the old method name in `@depends`. In this case, it was totally unintentional that the test has been skipped. But on CI it al

[2018-11-12 09:36] SilverFire commented on #3124
No, it's still active

[2018-11-12 13:15] dstepe commented on #3352
I just ran into this myself in exactly the same scenario. Found this:

https://odd.blog/2015/02/12/php-notice-undefined-variable-_server-in/

Setting "auto_globals_jit = Off" does seem to fix it.

[2018-11-12 20:20] emulgeator commented on #3213
Any news on this?
Would be really awesome to finally be able to write dataProviders without ugly hacks

[2018-11-13 09:30] epdenouden commented on #3364
Checking for `instanceof TestCase` is not enough, `@dataprovider` driven tests are instances of `DataProviderTestSuite` which would be covered by `instanceof TestSuite`.

This has caused quite a few bugs and oversights for the test execution ordering. Some background in #3396.

[2018-11-13 15:01] epdenouden commented on #3246
@sebastianbergmann This ticket can be closed now. Everything here is covered by #3396 and its related pull request #3401 :-)

[2018-11-13 19:58] #3165 closed

[2018-11-14 04:06] fikrimi23 opened #3403 "Coverage on Symlink"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.2.12
| Installation Method | PHAR

Currently using PHPStorm, Run with Coverage will run this :

`/usr/bin/php -dxdebug.coverage_enable=1 /home/fikrimi/Downloads/Compressed/phpunit-phar1/phpunit.phar --coverage-clover /home/fikrimi/.PhpStorm2018.2/system/coverage/phpunit_phar1$M

[2018-11-14 09:31] Bob4ever commented on #3364
@epdenouden Just to confirm that I'm reading your comment correctly: You're confirming that the actual code is bugged and it's not enough and that checking against ```instanceof TestCase``` and ```instanceof TestSuite``` would fixing it, correct?
Because there seems to be some [kind of confusion](https://github.com/sebastianbergmann/phpunit/pull/3400#issuecomment-438591436)...

[2018-11-14 09:37] #3246 closed

[2018-11-14 09:37] #3396 closed

[2018-11-14 09:40] epdenouden commented on #3380
With a few reordering issues fixed I will get on this now.

[2018-11-14 12:44] epdenouden commented on #3159
!stale

[2018-11-14 16:51] epdenouden commented on #3380
To do
- [ ] add command line flag (name tbd)
- [ ] add XML-configuration option (name tbd)
- [ ] make `TestSuiteSorter` aware of global test execution order
  - [ ] add data structure to save original and post-sorting execution order list
  - [ ] find a clean way to pass this data around to the printers
- [ ] make sure TestDox printer only caches _out of sequence_ tests: flush asap
- [ ] (non-deli

[2018-11-14 16:55] sebastianbergmann commented on #3380
Do we really need a new CLI option / configuration parameter? We should be able to auto-detect that we need a buffered TestDox printer.

[2018-11-14 17:25] epdenouden commented on #3380
We do not need it, no. It would be easy enough pick a behaviour automatically. But I thought while  discussion with @rpkamp you agreed you wanted the buffering optional?

So the TestDox printer would offer two modes:
1. buffered: auto-detect if needed based on the diff between 'original order' and 'run order'
2. just output as the hooks are fired

I would happily not implement new configuration it

[2018-11-14 18:15] sebastianbergmann commented on #3380
By optional I meant "off when not needed" and "on when needed". :)

[2018-11-15 12:53] aruku opened #3406 "filter flag changes outcome of test"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 5.3.5
| PHP version         | 7.0.31
| Installation Method | PHAR

This fails:
[code]
But this passes:
[code]
I don't even know what outcome is the right one, because the syntax error that PHPUnit complains about is done in the first test of that class too and that one doesn't fail.
Can anybody explain this?

[2018-11-15 13:13] epdenouden commented on #3406
Hello @aruku!

Immediately I noticed `Reports_PHAKE5bed698f64be01` which tells me Phake is generating (temporary) mocks in the background. I'd wager you have a hidden dependency that only shows up when you run a different subset of tests.

Withouth access to the full code this is near impossible to debug or give advice on. Something to try is experimenting with the test execution reordering featur

[2018-11-15 13:54] s3b4stian commented on #3371
Same issue, with phar, test count works, assertions not.

OK (676 tests, 1174 assertions) with PHAR.
OK (676 tests, 1337 assertions) with PhpUnit composer installation.

[code]

[2018-11-15 13:58] aruku commented on #3406
Thank you, @epdenouden. What version was that option introduced? I can't find reference for it.

[2018-11-15 14:04] epdenouden commented on #3406
@aruku Oops. My apologies, I imagined reading a 7.x version for PHPUnit. The execution reordering features were only recently introduced in version 7.2. I realize this is not as easy to try for you now.

Something you could try is moving the offending test methods around in the file itself. Or look inside the tests with your IDE+Xdebug to have a look at the runtime environment of the tests.

[2018-11-15 17:05] solcre-at opened #3407 "Abstract class PHPUnit_Framework_TestCase"
An abstract class should have at least one abstract method declared.
So the classes that extend of this abstract class could define the logic of the function.

Why are not these methods declared as abstract?

Some of them:
- public static function setUpBeforeClass(){}
- protected function setUp(){}

I hope the explanation.

Regards.

[2018-11-15 19:44] sebastianbergmann commented on #3407
This is not a discussion or support forum, sorry.

[2018-11-15 19:44] #3407 closed

[2018-11-15 19:45] sebastianbergmann commented on #3406
PHPUnit 5 is no longer supported. Please open a new ticket in case this still applies to a supported version of PHPUnit.

[2018-11-15 19:45] #3406 closed

[2018-11-15 19:46] sebastianbergmann commented on #3371
Does the problem still exist in PHPUnit 7.4.4?

[2018-11-15 21:07] csisy commented on #3371
No, it seems that the problem is solved, thank you!

Two minor things:
- it takes a bit longer to run the separated test (it's totally fine)
- the html is changed from a narrow centered view to a full-width view (this might be intentional)

[2018-11-15 22:00] s3b4stian commented on #3371
With 7.4.4, it works!

[code]

[2018-11-15 23:04] #3234 closed

[2018-11-16 04:04] #3371 closed

[2018-11-16 09:42] sebastianbergmann commented on #3395
I would test that using PHPT.

[2018-11-16 09:42] #3395 closed

[2018-11-16 09:43] sebastianbergmann commented on #3315
No feedback, closing.

[2018-11-16 09:43] #3315 closed

[2018-11-16 10:42] epdenouden commented on #3315
@sebastianbergmann looks like there is an example in the related pull request: https://github.com/sebastianbergmann/phpunit/pull/3317

[2018-11-16 11:04] #3300 closed

[2018-11-16 11:14] epdenouden commented on #3300
!stale

I'd like to investigate this, as it might be connected to nested `TestSuites`.

[2018-11-16 11:22] hollodotme opened #3409 "Method annotation @runInSeparateProcess not working"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.4
| PHP version         | 7.2.12 (But also PHP >= 7.1)
| Installation Method | PHAR

[This test](https://github.com/openmetrics-php/exposition-text/blob/master/tests/Unit/HttpResponseTest.php#L24) fails since PHPUnit 7.4.4.

The [`respond()` method](https://github.com/openmetrics-php/exposition-text/blob/

[2018-11-16 11:47] kubawerlos commented on #3300
I'd tried to replicate it and could not. @taisph can you provide more descriptive example?

[2018-11-16 12:03] epdenouden commented on #3300
@kubawerlos Thx for the quick reply! :)
I'm working on passing around `TestSuite` results this weekend anyway, I'll have a quick look while I'm in that part of the code.

[2018-11-16 13:47] epdenouden commented on #3300
@taisph I just did a quick checking using PHPUnit's own test suite and @kubawerlos is right, I also cannot replicate what you found. If you want this issue looked at please provide a self-contained and small example.

To test I broke one test in each of the `unit` and `end-to-end` suites and this gave me an exit code of `1` as expected:

[code]

gave me

[code]

[2018-11-17 11:13] localheinz opened #3410 "Create parent directory of specified cacheResultFile when it doesn't exist"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.3
| PHP version         | 7.1.22
| Installation Method | Composer

Not sure if this is a problem we want to have, but when specifying a cache result file which is located in a subdirectory, can we by any chance create the subdirectory when it doesn't exist?

I'm running into this issue in combination with

[2018-11-18 07:21] #3410 closed

[2018-11-18 21:50] BenMorel commented on #3212
@sebastianbergmann Any advice/feedback?

[2018-11-19 11:01] epdenouden commented on #3380
@sebastianbergmann Taking more work than expected to untangle all the interrelated parts of `CliTestDoxPrinter`, `TestResult`, etc. Tripped over the printer already buffering additional information like `TestSuite` headers and non-success stacktraces.

Question: do you mind if I remove the existing buffering done by creating new `Test[Dox]Result` and include that buffering in the new `CliTestDoxPr

[2018-11-19 11:16] sebastianbergmann commented on #3380
If it works and makes things simpler: go for it :-)

[2018-11-19 12:28] #3341 closed, assigned to sebastianbergmann

[2018-11-19 13:14] sqrt-1764 opened #3411 "Branch 5.7 seems to be deleted but still is used by simple-phpunit from Symfony"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 5.7
| PHP version         | 7.1
| Installation Method | Composer / PHAR

I am using phpunit via the simple-phpunit script from symfony.
This script for my current configuration requests phpunit 5.7 from github.
As I run this test on a Gitlab Runner in a fresh docker container, I have to download this on every

[2018-11-19 13:40] sqrt-1764 commented on #3411
I was able to update my project to php 7.2.
Then simple-phpunit does not require phpunit 5.7 but then uses 6.5

So for me the problem is solved, but there might be others out there, who can not switch so easily.

[2018-11-19 13:48] #3411 closed

[2018-11-19 13:57] sebastianbergmann commented on #3244
@epdenouden I started to work on this in 36ed9fefd3672592e4c36e5f53e07f1db1efe229.

One thing I noticed that if I run PHPUnit's own test suite with `--do-not-cache-result` then a cache file will still be written. This does not come from PHPUnit's own test suite itself but from one of the test suites used by it. Without `--do-not-cache-result` this cache file will be overwritten at the end by the c

[2018-11-19 14:01] sebastianbergmann commented on #3411
Sorry if the deletion of the `5.7` branch cause[s|d] problems. I do not understand why somebody would depend on a branch (and a dead one at that) instead of a tag.

[2018-11-19 14:09] sqrt-1764 commented on #3411
Never mind!
So I was forced to move to current versions ;-)

Regarding simple-phpunit - they download the zip Archive and do not use git for this.
I now will put some effort into my docker-images and harden them so that those components are already installed in them.

[2018-11-19 14:18] epdenouden commented on #3244
@sebastianbergmann Yes, unfortunately that is a known issue with (some of?) the PHPT tests. I have never looked that up in detail, however I am aware of it. The saving grace for PHPUnit's own test suite is that it overwrites the other caches at the end.

I think at some point there was a development version that looked at the `PHPUNIT_TESTSUITE` constant being defined. Complicating factors I found

[2018-11-19 14:53] #3244 closed

[2018-11-19 16:48] oojacoboo opened #3412 "Test code or tested code did not (only) close its own output buffers"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.4
| PHP version         | 7.2.10
| Installation Method | Composer

I reviewed a couple other tickets around this topic, and while the discussion was okay, it doesn't seem to address the issue.  Firstly, I can respect that this check is in place.  However, it's making an assumption here.  We have bootstrap

[2018-11-19 17:06] mitch10593 commented on #3411
Symfony phpunit bridge use hard coded phpunit version (with manual zip download).
It uses 5.7.zip for php < 7.2.

Here, the phpunit version regarding php version:
https://github.com/symfony/phpunit-bridge/blob/4.1/bin/simple-phpunit#L53

And here the direct url from 'branche version'.
https://github.com/symfony/phpunit-bridge/blob/4.1/bin/simple-phpunit#L96

There is no issue tracker on the symfob

[2018-11-20 09:00] mitch10593 commented on #3411
In fact, there is an easy solution: force the phpunit version with ENV vars:

[code]

[2018-11-20 09:52] gellis opened #3413 "PHPUnit Version 5.7 Removed"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 5.7
| PHP version         | 7.1
| Installation Method | Composer

We are using the Symfony PHPUnit Bridge and as of yesterday afternoon we are getting the following error: `RuntimeException: Could not find https://github.com/sebastianbergmann/phpunit/archive/5.7.zip`

It does indeed appear that version 5.7 ha

[2018-11-20 10:07] nicolas-grekas commented on #3413
Reported also in https://github.com/symfony/symfony/issues/29264 and https://github.com/symfony/symfony/pull/29263
The reason is that the corresponding branches have been removed.
Please bring them back...

[2018-11-20 10:40] epdenouden commented on #3380
Well isn't refactoring fun. It works, putting all functionality back in place and doing some additional refactoring. Done by end of the week.

[2018-11-20 11:08] sebastianbergmann commented on #3413
Please do not depend on implementation details you do not control, in this case branches in PHPUnit's version control system.

[2018-11-20 11:08] #3413 closed

[2018-11-20 11:29] nicolas-grekas commented on #3413
The whole internet relies on things we don't control: GitHub URLs, google APIs, etc. Could you please consider reconsidering: this breaks legitimate CIs that were just fine. I suppose you won't anytime remove tags. You could though. Branches are the same to me: they're part of history and should be kept forever.

[2018-11-20 12:50] Bob4ever commented on #3364
Any life sign here? This story is kind of tiring...
It's already a month ago and nobody seems to be really interested in this small but significant bug.

[2018-11-20 18:31] oojacoboo commented on #3412
Sorry, this is a non-issue actually.  And, after reviewing the code, PHPUnit is checking the output buffering level and only closing and throwing errors based on that.

Also, I'm assuming you're referring to PHPUnit's bootstrapping.  But I'm talking about integration testing's full bootstrapping framework here, which is more than suitable for starting an output buffer.

Thanks and sorry for the fa

[2018-11-20 20:02] nCrazed commented on #1138
This is happening again.

The fact that the response status is still `200` makes it harder to debug.

[2018-11-21 19:45] sebastianbergmann commented on #3188
I can only recommend to not use the `TestListener` interface but the new `TestHook` interfaces instead.

[2018-11-22 11:14] epdenouden commented on #3188
@karser As @sebastianbergmann says, please use the new interfaces if you are creating new functionality.

I am currently refactoring the old TestDox printer to get existing functionality back that was lost due to new execution reordering features. It is a messy little project. Afterwards I will work on a cleaner `TestHook` version, mostly to see what functionality is still missing from that interf

[2018-11-23 14:13] epdenouden commented on #3364
This is a developer experience annoyance. Technically it is related to the TestDox reordering #3380 and the discussions about the TestListener/TestHooks in #3390, #3382.

@sebastianbergmann Proposal: if you can assign this issue to me, I will look into this and make a fix as a learning project for discussing the TestHook RFC. Together with the recent work on execution sorting and printer-based un-

[2018-11-23 14:38] epdenouden commented on #3364
In other words: let me have a look at all the legacy we want to refactor out  :)

[2018-11-24 10:59] ro0NL opened #3415 "New @iterableProvider annotation"
In addition to `@dataProvider` it could be useful to provide an out-of-the-box `@iterableProvider` based on top of that. That could simplify variance testing IMHO.

[code]

Thoughts?

[2018-11-24 11:09] sebastianbergmann commented on #3415
I do not understand what you are trying to propose here. A data provider can be an array or an `Iterator` implementation, even generators work.

[2018-11-24 11:12] ro0NL commented on #3415
You cannot return $someIterable as-is and with that provide the actual key/values as arguments. You need to map each row to array(value, key)

[2018-11-24 11:52] sebastianbergmann commented on #3415
Makes no sense to me, sorry.

[2018-11-24 11:52] #3415 closed

[2018-11-24 13:37] temple commented on #183
This issue shall not be closed.
Stills being an issue on `@depends` which provides no return data to dependent tests.
I'm facing how could I get the return of a test as the input for the dependent, but If I use a `@dataProvider` on the first test, its dependent just receives NULL as input.

[2018-11-24 17:56] sebastianbergmann commented on #3397
I do not think that this would be a good idea. Registering comparators using the respective idea on a test-by-test basis is the right approach, IMO.

[2018-11-24 17:56] #3397 closed

[2018-11-26 10:11] epdenouden commented on #3364
@SvetlanaZem @wbars I have time to look into this in depth and have created a branch with some first tests to isolate the issues. It seems there is more than one thing going on. Different scenarios give _very_ different result outputs.

Branch: https://github.com/epdenouden/phpunit/tree/issue-3364-teamcity-missing-error

**Default and TestDox result printer do show `setUpBeforeClass` error**

🔬 De

[2018-11-26 12:05] epdenouden commented on #3390
@rpkamp Thanks for your detailed feedback! I kept notes of what I ran into when refactoring the TestDox printer for #3380 and my list of required changes for the `TestHook` closely mirrors yours.

I will write up a more detailed response and proposal. The bottomline is the same as Remon says: the current printers/listeners get a lot more detail about the test run. The equivalent of `startTest()` a

[2018-11-26 12:35] #3380 closed

[2018-11-27 06:26] sebastianbergmann opened #3419 "AppVeyor"
https://github.com/sebastianbergmann/phpunit/pull/3418#issuecomment-441767118 is not the first time that the AppVeyor configuration ran out of date (see #2880).

@helhum @IchHabRecht Does AppVeyor really need constant attention to keep working? If so, I would rather remove it (for which I would feel bad since you invested so much effort to make it initially work) unless somebody commits to keeping

[2018-11-27 12:18] epdenouden commented on #3133
@sebastianbergmann implementing this atm :)

[2018-11-27 12:29] marcospassos opened #3420 "Allows listeners to resolve the SUT subject at runtime"
By allowing listeners to change configuration at runtime, it becomes possible to implement a hook to automatically resolves the `@covers` of the SUT. The [current workaround](https://github.com/symfony/phpunit-bridge/blob/master/Legacy/CoverageListenerTrait.php#L73) is very hacky and consist in using reflection to inject a virtual annotation.

At Croct, we adopted a naming convention to benefit fr

[2018-11-27 13:06] sebastianbergmann commented on #3420
A listener should just listen.

[2018-11-27 16:51] epdenouden commented on #3133
AppVeyor needs a little tweak for the newer PHPUnit:
[code]
Not sure how to fix this correctly. Guess it's set in `appveyor.yml` in the repo?
[code]

[2018-11-27 17:14] epdenouden commented on #3133
Fixed, updated AppVeyor to use PHP Windows binary for 7.2.12 and matching Xdebug.

[2018-11-27 18:30] epdenouden commented on #3419
I've added a fix for this in https://github.com/sebastianbergmann/phpunit/pull/3421 to get the build working again.

[2018-11-28 01:40] keradus opened #3422 "Proposal: split assertContains for iterables and non-iterables"
currently, one can do both with a single assertion:
[code]

which is confusing if someone use it like the following, and for that error prone due to accidental lack of types control
[code]

what about splitting the responsibility of that assertion, to have one for strings and one for iterables ?

ref https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/4061

[2018-11-28 12:57] Andre-Sekou commented on #3036
No response and nothing to add nethertheless...

[2018-11-28 13:36] epdenouden commented on #3409
@hollodotme Thank you for the detailed failure report! Makes debugging a lot easier. I will look into this tomorrow and report back here.

@sebastianbergmann If the repo settings allow it, can you please assign this issue to me for keeping track?

[2018-11-28 13:40] epdenouden commented on #3409
@hollodotme the correct way to run the tests is:
[code]
correct?

[2018-11-28 13:42] hollodotme commented on #3409
Yes.

[2018-11-28 14:00] epdenouden commented on #3409
Testing notes:
- installed required Python modules with:
[code]

[2018-11-28 14:11] #3204 closed

[2018-11-28 14:20] sebastianbergmann commented on #3419
Can you please send the AppVeyor changes in a separate pull request? Thanks! We'll also need this in the other active branches.

[2018-11-28 14:21] epdenouden commented on #3419
Of course :) I already figured and opened #3423 for that reason

[2018-11-28 14:23] #3419 closed, assigned to nobody

[2018-11-28 14:32] epdenouden commented on #3204
Added this issue to my research notes for reimplementing the `TestHook` system

[2018-11-28 15:42] sebastianbergmann commented on #3422
Going further, we probably want to get rid of the optional parameters and introduce

* `assertStringContainsString()`
* `assertStringContainsStringIgnoringCase()`
* `assertStringNotContainsString()`
* `assertStringNotContainsStringIgnoringCase()`

etc.

[2018-11-28 15:58] sebastianbergmann commented on #3422
@keradus Can you please have a look at 77d079f8c216d23179b1ab9ac56f2e7f930175aa? Thanks!

[2018-11-28 16:34] epdenouden commented on #3409
@hollodotme I do not know yet what the root cause of the problem is. Maybe it has been a change between 7.4.3 and 7.4.4. Maybe it has to do with how the PHAR is put together.

If I switch off the `@runInSeperateProcess` the problem appears to be 'catching' the actual HTTP output that is written with the builtin `header()`/`echo`/`flush` without the use of mocked or injected output handler. The PHP

[2018-11-28 17:37] BPaasch opened #3424 "MockObject interface doesn't show code completion options"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.4
| PHP version         | 7.2.12
| Installation Method | Composer

Output of `composer info | sort`:
[code]

When creating test double objects using PHPUnit and trying to utilize the InvocationMocker that is returned from the `expects` function, the IDE's _code completion_ cannot determine which Invocatio

[2018-11-28 17:41] sebastianbergmann commented on #3424
Use `/** @var MockObject|SomeClass $variable */`.

[2018-11-28 17:41] #3424 closed

[2018-11-28 17:42] sebastianbergmann commented on #3409
I recently changed how the PHAR works in 1bb3ca072ba1bac126530aed42c2027e9f1679e3.

[2018-11-28 17:47] BPaasch commented on #3424
Still doesn't work.  I don't have a problem with the object coming back as a MockObject, just a problem with MockObject->expects() coming back with InvocationMocker

Tried it like you said and still it doesn't return anything.  NOTE, it already deduced that the variables was a MockObject.
[code]

[2018-11-28 19:23] keradus commented on #3422
Hi ! First of all, glad you like the idea !

can you elaborate how you define difference of `hard` and `soft` deprecation? if hard is removal of functionality, then that's how I would see this to happen indeed ;)

I would rather promote strict comparison by default. Language itself is promoting to be strict about types now, let's not promote (by more convenient way) being not strict.
that saying,

[2018-11-28 20:02] sebastianbergmann commented on #3422
1. [Soft Deprecation](https://github.com/sebastianbergmann/phpunit/wiki/Release-Process#stage-1-soft-deprecation) in PHPUnit 7.5
2. [Hard Deprecation](https://github.com/sebastianbergmann/phpunit/wiki/Release-Process#stage-2-deprecation) in PHPUnit 8
3. [Removal](https://github.com/sebastianbergmann/phpunit/wiki/Release-Process#stage-3-removal) in PHPUnit 9

[2018-11-28 20:02] sebastianbergmann commented on #3422
Sorry, but I do not send myself pull requests.

[2018-11-28 20:03] sebastianbergmann commented on #3422
I agree with promoting strict comparison, but the naming as-is makes more sense to me somehow.

[2018-11-28 20:21] weltling commented on #3419
@sebastianbergmann sure, i'll help where I can. @IchHabRecht, @epdenouden do i understand correctly, that you need to always fetch some latest releases? Could you please short articulate teh proposed solution? The integration between windows.php.net and php.net could be of course improved a bit, but in many cases time and security reasons are what stands in the way. Perhaps it can also be fixed an

[2018-11-28 20:39] hollodotme commented on #3409
@epdenouden First of all thank you for your time & investigation. I had a look at some other tests of mine where I check for sent headers. In all of them I use `xdebug_get_headers()` (instead of `headers_list()`) together with `@runInSeparateProcess`.

In general I'd prefer to use the `headers_list()` function as it is (always) bundled with PHP's network functions while the `xdebug_get_headers()`

[2018-11-28 20:39] #3409 closed

[2018-11-28 22:09] IchHabRecht commented on #3419
hi @weltling,

Thanks for getting back to me. I created a gist with the content of my email. Please see https://gist.github.com/IchHabRecht/21902a244c5cd69de4e84275b276c73a

If you want I can post this anywhere else. Just let me know.

[2018-11-29 05:39] sebastianbergmann opened #3425 "Deprecate assertContains() and assertNotContains()"
See #3422 for migration path.

[2018-11-29 05:40] sebastianbergmann opened #3426 "Clean up assertContains() and assertNotContains()"
* Remove support for using `assertContains()` and `assertNotContains()` on `string` haystacks
* Remove the optional parameters `$ignoreCase`, `$checkForObjectIdentity`, and `$checkForNonObjectIdentity` of `assertContains()` and `assertNotContains()`
* Remove `Assert::contains()`
* Eliminate code duplication in `TraversableContainsEqual` and `TraversableContainsIdentical` by inheriting from `Traver

[2018-11-29 05:58] #3422 closed

[2018-11-29 05:58] #3425 closed

[2018-11-29 06:20] #3133 closed

[2018-11-29 10:15] blockjon opened #3427 "How can a Listener conditionally skip a test?"
I'm very excited about the ability to implement PHPUnit\Framework\TestListener in order to add a custom behavior.

In my case, I want to execute some custom logic to determine which of the tests in my suites should be skipped.

Specifically, I want to download a list of tests that should be skipped and then enforce that skip list at runtime.

How should I do this? I would prefer to not have to cha

[2018-11-29 10:30] wbars commented on #3364
@sebastianbergmann @epdenouden Please refer [my previous comment](https://github.com/sebastianbergmann/phpunit/issues/3364#issuecomment-432590599) about the source of the bug.

Since still nobody shared the details behind [introduced check](https://github.com/sebastianbergmann/phpunit/commit/be6564ea49b96b9776c53f627a49683ec2687ce5#diff-46516cb8ec446cf630723cbba025f14eR60) and commit message does'

[2018-11-29 11:01] epdenouden commented on #3364
@wbars Apologies I didn't make it clear in my reply, your investigation helped pinpointing the problem. I am not sure why the extra check for just `TestCase` ended up there. I will check the history and see if it related to other bugs. Seems to be just a case of codestyle fixes? The commit message just says "Fix issues identified by Phan".

In any case there needs to be an error emitted somehow ab

[2018-11-29 12:40] weltling commented on #3419
@IchHabRecht i see, so you want the `latest` link. As it works till now, the latest versions are all to be found in https://windows.php.net/downloads/releases/. Once a new version is uploaded, the previous one is moved to https://windows.php.net/downloads/releases/archives/. I was just talking to @sAnexeh who takes care of the windows.php.net infrastructure and next week we're gonig to work on pro

[2018-11-29 15:51] epdenouden commented on #3232
@ChangePlaces I'd have to look into the implementation details in the main test runner, but I wouldn't be surprised if every [subdirectory + tests] is handled by creating a `TestSuite` for it with the individual test(suite)s as child nodes.

[2018-11-29 18:06] blockjon commented on #3427
@epdenouden Thank you for your reply! Yes I would like to either skip tests or not play them at all... either option will work.

I'm trying to create PHP support for https://www.flaptastic.com/ which has a checkbox that allows you to instantly disable a test in CI. Here's what I've got so far: https://packagist.org/packages/blockjon/flaptastic

To "disable" a test in CI means to either skip it, or

[2018-11-29 19:51] sebastianbergmann commented on #3232
@epdenouden That is the case IIRC.

[2018-11-29 20:16] epdenouden commented on #3364
I think I have found a nice fix.

![image](https://user-images.githubusercontent.com/26651359/49249244-f8302800-f41b-11e8-93fb-be02582cedda.png)

[2018-11-30 13:51] #3364 closed

[2018-11-30 14:42] sebastianbergmann commented on #3427
This will likely be possible once #3387 has been implemented.

[2018-11-30 17:42] blockjon commented on #3427
I think I have found what might be the simplest way to do it given the current PHPUnit architecture - to have them add a trait to their own abstract TestCase file. I assume most projects implement some kind of common TestCase that it could be added to.

https://github.com/blockjon/phpunit-flaptastic/blob/master/README.md#integrating-with-your-codebase

[2018-11-30 17:42] #3427 closed

[2018-12-01 15:54] epdenouden commented on #3232
@ChangePlaces could you share a bit more of the directory structure and the actual output? I want to look at this for the upcoming logger and TestHook refactoring

[2018-12-01 23:41] ChangePlaces commented on #3232
I'd love to but this was a long time ago for me! I seem to recall I had a directory with 1 level of sub-directories which contained tests inside and I was expecting to be able to run the parent directory as a test suite, instead of each separate dir as a test suite

[2018-12-02 09:08] BonBonSlick opened #3430 "Test UploadedFile with process isolation false?"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     |  7.3.3
| PHP version         | 7.2
| Installation Method | Composer

- Goal: test object that depends on real UploadedFile, which created manually.

`    return new UploadedFile(\sprintf('%s../public/logo.png', Kernel::APP_PATH), 'logo');
`

Composer info is too long, if need all can be added later.

[code]

[2018-12-02 09:14] sebastianbergmann commented on #3430
This is not a discussion or support forum, sorry.

[2018-12-02 09:14] #3430 closed

[2018-12-03 12:14] VikaM95 opened #3431 "Strange error in tests after update to phpunit 7.5"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.4
| PHP version         | 7.2
| Installation Method | Composer

One of my tests was green in 7.4 now is reds

public function testTreatmentUrlRouter()
    {
        $router = new Router();
        $checkArray = $router->treatmentUrl([], '');
        $this->assertArrayHasKey('nameClass', $checkArray);

[2018-12-03 12:30] VikaM95 commented on #3431
@epdenouden I use TestCase.

[2018-12-03 12:32] epdenouden commented on #3431
@VikaM95 Can you provide us with a stand-alone example of the above problem, especially with exact steps to reproduce?

I just had a try with the latest 7.5 branch I do not see this error. Also the method signatures for both the default printer as well as the TeamCity printer is `public function printResult(TestResult $result): void`.

I'm not familiar with TestCase other than `TestCase` so I cann

[2018-12-03 12:46] epdenouden opened #3432 "TeamCity logger doesn't show PHPT tests"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5-devel
| PHP version         | PHP 7.2.11 with Xdebug 2.6.0
| Installation Method | Composer

After some recent work on the TeamCity logger I noticed that it doesn't emit PHPT events anymore.

This bug was introduced in https://github.com/sebastianbergmann/phpunit/commit/be6564ea49b96b9776c53f627a49683ec26

[2018-12-03 12:51] VikaM95 commented on #3431
@epdenouden
I am sorri, there is eroor when instal phpunit ( sudo apt install phpunit )
When i started "sudo apt-get remove phpunit", error is gone

[2018-12-03 13:00] sebastianbergmann commented on #3431
PHPUnit 7.5 has not been released yet. And I hardly doubt that `sudo apt install phpunit` installs a development version of PHPUnit.

[2018-12-03 13:12] epdenouden commented on #3431
@VikaM95 In your bug report you mention `PHPUnit version | 7.4.4` so I am not sure where the confusion comes from. Check if you are using some APT repository that uses nightly or development builds.

[2018-12-04 02:40] bugreportuser commented on #3258
@sebastianbergmann Can you see if this can be fixed? It makes tests run very slowly. I can create a pull request if it's something simple.

[2018-12-04 14:23] epdenouden commented on #3258
@hwmaier @bugreportuser I am working on this right now. Will take me a bit of time to read up on the context. #2591 has multiple end-to-end tests and moving parts, however none of these is failing. I'll dig into this and report back here.

[2018-12-04 23:13] hwmaier commented on #3258
@epdenouden I am happy to assist and run a possible fix against our test cases.

[2018-12-05 13:08] epdenouden commented on #3258
**TL;DR**
Great to get such quick feedback! The `@runClassInSeperateProcess` annotation doesn't work as advertised and I suspect the code isn't ever hit.

@hwmaier thanks, I surely will take you up on the offer!
@bugreportuser thanks for pointing out the test. This whole group of tests could use a good second look.
@sebastianbergmann I will fix the support for this feature for the 7.x branch

![im

[2018-12-05 13:31] epdenouden opened #3435 "JUnit logger skips PHPT tests"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5
| PHP version         | any
| Installation Method | any

[2018-12-05 13:33] epdenouden opened #3436 "JUnit logger skips PHPT tests"
This ticket is analogous to a recent issue #3432 in the TeamCity logger. Will make a fix.

![image](https://user-images.githubusercontent.com/26651359/49517007-5b4a1080-f89b-11e8-8450-1bd0e1c7f604.png)

[2018-12-05 13:53] epdenouden commented on #3435
duplicate

[2018-12-05 13:53] #3435 closed

[2018-12-06 12:52] #3431 closed

[2018-12-06 13:00] epdenouden commented on #3436
Fixed in #3437

[2018-12-06 13:00] #3436 closed

[2018-12-07 08:45] gmponos commented on #3339
Is there any related discussion that explain the thought behind this decision?

[2018-12-07 09:09] sebastianbergmann commented on #3339
A test should not depend on private implementation details. It was a bad idea to make a bad testing practice this convenient.

[2018-12-07 09:39] gmponos commented on #3339
I know that this is true but on the other hand this is just a misuse of a very helpful feature let me give you one of my use cases:

[code]

If you remove these functions in order for me to test that the developer has not made anything stupid like commenting a line like this:

[code]

I will need to create a getter function for attempts which honestly I hate doing. I mean you shouldn't add functio

[2018-12-07 10:39] localheinz commented on #3339
@gmponos

How about testing it like this instead?

[code]

There are always alternatives! 👍

[2018-12-07 11:16] epdenouden commented on #3339
Hi @gmponos!

Step away from the PHP for a minute. What behaviour do you want to test? How about this:

1. do a **first** attempt to reset the password
2. assert that the maximum number of attempts **has not** been reached
3. do a **second** attempt to reset the password
4. assert that the maximum number of attempts **has not** been reached
5. do a **third** attempt to reset the password
6. assert

[2018-12-07 12:30] williamdes commented on #3367
@sebastianbergmann
[code]

### Output
[code]

Everthing is NOT okay

[2018-12-07 14:38] AndriySvirin opened #3440 "Critical error"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13
| PHP version         | 7.2.10
| Installation Method | Composer

Have a wrong preg_repalce result
http://prntscr.com/ls01gf

[2018-12-07 16:30] kdambekalns opened #3441 "Call to undefined method DataProviderTestSuite::usesDataProvider()"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.0
| PHP version         | 7.1.11
| Installation Method | Composer

As can be seen at https://travis-ci.org/neos/flow-development-collection/jobs/464914582 I get

[code]

when running this on Travis. It works fine locally. Anyone else?

[2018-12-07 17:56] epdenouden commented on #3441
@kdambekalns thanks for bug report. I recently did some where in that early that got merged into 7.5, which didn't cause any errors in our own collection of tests.

I will investigate why this breaks in Travis and have a fix tomorrow.

[2018-12-08 06:33] sebastianbergmann commented on #3440
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting. Please do not post screenshots of production code, test code, or PHPUnit output.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-12-09 12:06] keradus commented on #3325
`stale`, go away
request for `Constraint\ExceptionMessage` is still valid

[2018-12-09 12:12] epdenouden commented on #3325
And stale bread is still good for croutons or bread pudding :D

[2018-12-09 15:14] rcubitto commented on #1613
This worked for me:

[code]

[2018-12-10 09:15] AndriySvirin commented on #3440
Hi, Sorry, for my short description. I think that you can reproduce by generating base64 encoded string with enough long lenght. I think that i had made mistake, wheh passed such large parameter by path. So i changed passing parameter from by path to by query and fixed my issue.
so i have fixed my problem by did not explored detailed behaviour of function preg_replace in PHP.

i think you can enco

[2018-12-10 11:46] simPod commented on #750
TLDR For those looking, I suppose _NAN_ cannot be compared as it is an indeterminate value (same as in SQL `null` stands for something like _unknown_).

Use `self::assertNan()`

[2018-12-10 15:36] TomasVotruba commented on #3341
Anyone looking for upgrade path: https://github.com/rectorphp/rector/pull/825/files#diff-de1172102c1d09f6d2910b0571e5f546

[2018-12-10 15:37] TomasVotruba commented on #3338
What should be used inste?

[2018-12-10 21:04] gmponos commented on #3338
https://github.com/sebastianbergmann/phpunit/issues/3339

[2018-12-10 22:41] TomasVotruba commented on #3339
@gmponos Hi, I'm working on instant migration tool @rectorphp. Would any automatization help you? E.g. use getter over private property?

[2018-12-10 22:42] TomasVotruba commented on #3338
@gmoponos Thanks!

[2018-12-10 22:53] gmponos commented on #3339
Unfortunatelly no.. IMHO open an issue if you wish at your repo and I will explain you my arguments there... no need to start a discussion about your tool here and add extra noise :)

[2018-12-10 23:33] TomasVotruba commented on #3339
I think this is the best place for upgrade paths most people would look for. If there is none, no troubes :)

[2018-12-11 06:40] sebastianbergmann commented on #3339
The upgrade path is to refactor your (test) code to not require the assertions in question.

[2018-12-11 06:52] milhomem commented on #3367
I'm facing the same issue, and I find out that my bootstrap file is causing issues.
[code]
@drugs-4-3 are you using a custom bootstrap too?

I didn't get to the bottom of it yet, but I can see that my bootstrap file is required twice when running on a separated process.

I'll make a case and post another issue. Once I get rid of this bootstrap noise, I will update this issue if my issue persists.

[2018-12-11 09:27] milhomem opened #3447 "Requiring bootstrap file twice when using @runTestsInSeparateProcesses"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.4.4
| PHP version         | 7.2.13
| Installation Method | Composer

[code]

My bootstrap file has a few `define()` calls and I started to receive a warning message when I tried to run the test in a separete process.

[code]

Then I figured out that the bootstrap file is called twice despite the use of `req

[2018-12-11 12:32] gmponos commented on #3339
@TomasVotruba look.. most probably if the places that I used one of these assertions I did not had a `getter` in place.. Otherwise I wouldn't use them in first place...

if you create a tool just for the cases that the `getters` exists then I would say that there will be a lot of developers that will misinterpret the intention and they will think that the correct solution is to add a `getter` just

[2018-12-11 12:51] TomasVotruba commented on #3339
@gmponos I just wasn't sure how people use it, since I have no experience with that. It's clear to me now there is no way to automate this.

[2018-12-11 13:01] fbourigault opened #3448 "Use of deprecated PHPUnit_Framework_MockObject_MockObject interface from "PHPUnit\Framework\MockObject\MockObject"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.0
| PHP version         | 7.2.13
| Installation Method | Composer

I'm using the `SymfonyTestsListener`. When I upgrade `phpunit/phpunit` to `7.5.0`, I got the following deprecation notice:

How this false positive can be solved? Is it on the PHPUnit side or the Symfony side?

[2018-12-11 15:43] Niko9911 opened #3450 "@depends doesnt work with @testWith"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5
| PHP version         | 7.1
| Installation Method | Composer

There is issue when returning value from depended-upon test. It will always return null when using data sets.

Fix will be introduced in #3449

[2018-12-11 15:45] Niko9911 commented on #3450
This issue can be closed when #3449 is merged.

[2018-12-11 16:03] epdenouden commented on #3441
@kdambekalns A fix has been merged into 7.5.1 by Sebastian. Let me know whether this fixes your CI troubles.

[2018-12-11 16:03] epdenouden commented on #3441
@sebastianbergmann this ticket can be closed

[2018-12-11 16:46] kdambekalns commented on #3441
Thanks for fixing! 👍

But, no 7.5.1 released yet, so Travis still pulls in 7.5.0 for now. Will check again after release…

[2018-12-12 07:18] #3441 closed

[2018-12-12 08:51] jonaz opened #3451 "Blacklist initialize class_exists should not call autoloader?"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.3.0
| Installation Method | Composer

I want to be able to see our real errors without having to install dbunit which is abandoned.

Perhaps the real issue is that phpunit tries to blacklist things its not responsible for (DbUnit). But adding false to the class_exists call woul

[2018-12-12 08:56] jonaz commented on #3451
This solution works. Now i see which tests that failed and not fatal error on require.
You want PR?

[code]

[2018-12-12 10:36] kdambekalns commented on #3441
Works fine now, thanks!

[2018-12-12 12:23] sebastianbergmann commented on #3451
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-12-12 14:56] jonaz commented on #3451
reproducing-example:
[code]

Output:
[code]

Expected output was to see the real error from the test case:
[code]

This fixes the problem:
[code]

[2018-12-13 14:11] epdenouden commented on #3364
@SvetlanaZem @wbars I am working on a POC for an update to the event+logger system of PHPUnit and want to use the TeamCity format as one of the main test cases, as it is async, notices changes in TestSuite and supports parallel testing.

Can you help me get in touch with the proper contact at JetBrains?

[2018-12-13 14:21] wbars commented on #3364
@epdenouden Please feel free to write an email for me: kirill.smelov at jetbrains dot com.

[2018-12-15 09:58] raminhti25 opened #3452 "dataProviders always run"
they always run even in other test cases or functions that are inactive.

[2018-12-17 17:11] #3185 closed

[2018-12-18 13:11] kolsys commented on #3031
Same issue in 6.5.

[2018-12-18 13:56] epdenouden commented on #3450
@Niko9911 What is the exact issue here? In case it is a variant of the issue demonstrated below, the TL;DR is that this is a result of the current architecture and cannot be changed easily. If you search the github issues for 'dataprovider' and 'depends' you will find quite a lot of discussion.

The code below shows that depending on a dataprovidered tests _will not_ automatically rerun the test f

[2018-12-18 22:03] #3345 closed

[2018-12-19 02:39] jchook commented on #3071
@Pictor13 If you're interested I implemented [`$this->assertThrows()`](https://github.com/jchook/phpunit-assert-throws) as a PHP trait.

I'd be happy to submit a PR if @sebastianbergmann would like.

Also @keradus interested to hear what you have to add.

[2018-12-19 11:50] epdenouden opened #3453 "À tout de suite: fast self-test suite"
As a _developer of PHPUnit_
I want _a fast integration test of all basic use cases_
so that _experimenting with the new logging is easier and more fun_

### Inspiration ###
Related to the [redesign of the result event and logging system](#3390) and the updates for [test execution order logging](#3380) and [TestDox](#3439).

Working on the test execution ordering I wished I had a quick ~test suite~

[2018-12-21 07:06] epdenouden commented on #3339
If you see no way around inspecting private properties you can still use reflection.

[2018-12-21 07:21] gmponos commented on #3339
As far as I know PHPUnit uses reflection in order to assert these properties with these functions. So in the end the developers instead of using the wrapper of PHPUnit will end to do reflection on their own...

Also I have been thinking about your comment before...

Yes this is true... but I am trying to do unit test... I would accept this argument from a library that does behavior testing like be

[2018-12-21 10:45] TomasVotruba commented on #3339
I see what you mean. I think *unit* testing doesn't mean to test all private properties/metods, but rather public api of the object.

If we have big class with 50 private methdos, we shouldn't use reflection to test private elements. We should decouple to standalone responsible objects. And then, test their public api.

[2018-12-21 11:05] gmponos commented on #3339
@TomasVotruba I was not talking about testing actual private methods... but about testing public methods that do some alteration...
for instance:

[code]

my only way to test this now is

// call setFormatter once
// call Log
// see in my test how the client has sent the log
// call set formatter second time setting a different formatter
// call log
// see that the format actually changed...

Whil

[2018-12-26 06:46] BonBonSlick opened #3455 "No error on traits collisions"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.3.3
| PHP version         | 7.2.12
| Installation Method | Composer

[code]

[code]

When traits used which use same trait, phpunit fails without any errors.
Would be nice to have any error shown or logged to understand why it fails. Logs are not generated, no exceptions.

Like PhP does when any class use s

[2018-12-26 06:51] sebastianbergmann commented on #3455
Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, self-contained, reproducing test case I will not be able to investigate this issue.

[2018-12-26 07:36] BonBonSlick commented on #3455
Found solution,
<ini name="error_reporting" value="-1" />
and
<ini name="display_errors" value="On" />

should be -1 not 1

From docs http://php.net/manual/ru/function.error-reporting.php

Thank you for your time.

[2018-12-26 07:49] #3455 closed

[2018-12-29 02:22] BentCoder opened #3457 "Missing "Method was expected to be called ...." error message"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13 / 7.5.13
| PHP version         | PHP 7.2.6-1+0~20180611145910.22
| Installation Method | Composer

Hi,

I hope I am not missing something here but PHPUnit doesn't complain if I miss calling mocked object in my test case.

I was expecting something similar to message below after commenting out mocked ob

[2018-12-29 10:18] epdenouden commented on #3339
Well yes and water is wet. If you cannot implicitly use PHPUnit's reflection-based wrapper, you will have to write your own. Which I am sure some people will do and even create a nice thing on Packagist for it.

How does a 'unit' test not test the behaviour of the system under test? If you want get creative with the language surrounding testing, sure! Here is one: we _cannot_ even unit test, it is

[2018-12-29 10:54] gmponos opened #3458 "Remove setMethods from MockBuilder"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | ^7

Lately we see a lot of changes happening to PHPUnit towards the direction of being even more strict.

I would like to make a suggestion.... Take for instances this:

[code]

Now my test

[code]

I hope you can see the misconcept in the above case... because
- I am mocking the class that it is under testin

[2018-12-29 10:55] gmponos commented on #3339
Thank you for your responses and taking the time to explain things.. Time and maybe acceptance from community will tell.. :)

I will try to be constructive and although I disagree I might even contribute down this road of strictness

see https://github.com/sebastianbergmann/phpunit/issues/3458

[2018-12-29 11:02] gmponos commented on #3458
Now that I think of it setMethods might be useful for `magic` methods.. I am not sure if there could be a work around there if you do accept to remove `setMethods`

[2018-12-29 13:49] sebastianbergmann commented on #3458
It's also required for partial mocking which is in rare cases required to test what you want to test.

[2018-12-29 13:49] #3458 closed

[2018-12-29 13:49] sebastianbergmann commented on #3450
Can this be closed?

[2018-12-31 12:06] TomasVotruba commented on #3368
What will happen to same checks just for arrays?

[code]

[2018-12-31 17:50] #3347 closed

[2019-01-02 08:14] MaxSem opened #3459 "@requires function swallows digits at the end of function name"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.2.13
| Installation Method | PHAR

If a required function name ends with a digit, PHPUnit misses the digit(s).

Example:
[code]
Current behavior:
[code]

Expected behavior: test is not skipped because `hash_pbkdf2()` is present.

[2019-01-02 09:31] epdenouden commented on #3450
I think so, yes. It is a request that pops up every now and then. Having looked at the way dataproviders work it won't be a simple change to get this working.

[2019-01-02 09:31] epdenouden commented on #3459
I will have a look!

[2019-01-02 11:38] epdenouden commented on #3459
@MaxSem Thanks for taking the time to submit the issue! I have reproduced it in the self-test collection and... fireworks! A solid start to 2019, I say. Will submit a pull request with a fix.

[2019-01-03 06:22] #3459 closed

[2019-01-03 15:24] #3450 closed

[2019-01-04 07:56] sebastianbergmann commented on #3325
As I wrote in https://github.com/sebastianbergmann/phpunit/issues/3325#issuecomment-428501525, support for expecting exceptions through annotations will be removed in PHPUnit 9 (see #3332 and #3333). I am not sure how to properly address this before the annotation is issue is gone.

[2019-01-04 08:00] sebastianbergmann commented on #3447
It is expected behavior that the bootstrap script is included once by the parent and once by each child process when process isolation is used. Are you saying that it is required twice within the same process? That would be a bug.

Thank you for your report.

Please provide a **minimal**, **self-contained**, reproducing test case that shows the problem you are reporting.

Without such a minimal, s

[2019-01-04 13:22] mindplay-dk commented on #3162
JUnit 5 does come with an XSD:

https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/resources/jenkins-junit.xsd

This appears to match most of the third-party XSD's I've been able to find.

Nested `testsuite` elements? I'm surprised it works - does anything besides PHPUnit emit those?

(Kind of crazy how the entire OS world is using JUnit XML as the de-facto standard, while li

[2019-01-04 13:39] epdenouden commented on #3162
Lovely, that sounds just like the kind of well-described standard to suit a testig framework. 😨
Refactoring the event and logging subsystem is one of my chew toys and I've hadded the JUnit 5 reference to my reading list. Thanks!

[2019-01-06 13:38] guilliamxavier opened #3461 "StringEndsWith matches too loosely (numeric strings)"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13
| PHP version         | 7.2.10
| Installation Method | PHAR

PHPUnit incorrectly agrees that the string "zzz0E2" ends with "0E1"
(while it correctly disagrees that the string "0E2zzz" starts with "0E1").

**Test:**
[code]

**Expected result:**
[code]

**Actual result:**
[code]

**Cause:**
`StringEndsWi

[2019-01-06 16:53] sebastianbergmann commented on #3461
Is this also the case for PHPUnit 7?

[2019-01-06 23:31] karpovigorok commented on #2894
for php 7.2 you should use phpunit 7
follow the link https://phpunit.de/getting-started-with-phpunit.html

[2019-01-07 12:23] fire015 opened #3463 "opcache.save_comments warning when not enabled"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.2.13
| Installation Method | Composer

I have opcache.save_comments set to 0 in my php.ini however I have disabled the whole of opcache from running.

[code]

In this case PHPUnit should probably check for the value of opcache.enable or opcache.enable_cli before showing the war

[2019-01-07 13:50] sebastianbergmann commented on #3463
This is not a bug in PHPUnit itself.

[2019-01-07 13:50] #3463 closed

[2019-01-07 14:00] fire015 commented on #3463
@sebastianbergmann this is a feature request, is there somewhere I can put this?

[2019-01-07 14:36] fire015 commented on #3463
Thanks :)

[2019-01-07 17:25] sebastianbergmann commented on #3463
The new implementation of `Runtime::discardsComments()` in https://github.com/sebastianbergmann/environment/blob/master/src/Runtime.php#L34 should solve this issue.

[2019-01-08 14:18] index0h commented on #3158
Any news here?

[2019-01-08 16:12] lofye opened #3465 "Feature Request: Max Test Duration"
It would be handy to be able to set a max-test-duration in the phpunit.xml, either globally or on a particular test suite. If a test takes longer than max-test-duration to run, it should automatically fail.
This can be used to ensure that all tests run quickly.

What inspired this was seeing the milliseconds of each test, as output by: https://github.com/LimeDeck/phpunit-detailed-printer/

[2019-01-08 23:47] constup opened #3466 "assertInstanceOf not working in 7.5.1"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.2.11
| Installation Method | PHAR

**Test Code**
[code]

**Test result (console output)**
[code]

**phpunit.xml.dist**
[code]

**Command**
[code]

[2019-01-08 23:53] constup commented on #3466
A workaround is to perform assertion like this:
[code]
instead of like this:
[code]

[2019-01-09 05:44] sebastianbergmann commented on #3465
This functionality was implemented years ago. Have a look at `--enforce-time-limit` and related options and configuration settings.

[2019-01-09 05:44] #3465 closed

[2019-01-09 05:46] sebastianbergmann commented on #3466
The second parameter of `assertInstanceOf()` has to be an object. The result of `get_class()` you're passing is a `string`.

[2019-01-09 05:46] #3466 closed

[2019-01-09 12:10] clue commented on #3320
While I agree with the above objections that HHVM decided to drop PHP support in the future and I do not expect PHPUnit to keep supporting HHVM, just to answer your question, here's how you can run an outdated and unsupported PHPUnit version with HHVM: Outdated PHPUnit 5 appears to be the last version that I could get to run on outdated HHVM on Travis CI. You can also explicitly install another PH

[2019-01-09 13:16] Danon commented on #3320
So there is no testing framework for PHP for HHVM?

[2019-01-09 15:33] metaturso commented on #3213
I'm looking forward to seeing this in the future.

Personally my biggest complaint about the current test runner comes from the inability to replace it with a custom one short of rewriting the entire `PHPUnit\TextUI\Command` class (and the `phpunit` executable with it.)

Another problem although maybe not directly caused by the runner itself is the lack of a mechanism to register a PHPUnit Extensi

[2019-01-09 16:18] matthieu88160 opened #3468 "Allow expected exception inspection"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.x-dev
| PHP version         | 7.2.10
| Installation Method | Composer

Could be useful to be able to make more advanced validation on the thrown exceptions. Currently testing some exceptions in a library, I'm experiencing some difficulties to validate that an exception is successfully injected as the prev

[2019-01-12 05:54] sebastianbergmann opened #3473 "Test fails with PHP 7.4.0-dev"
#### PHP 7.4.0-dev
[code]
#### PHP 7.3.1
[code]

[2019-01-12 08:04] eghojansu commented on #2953
I am using phpdbg and get this issue too.

PHPUnit 7.5.1
phpdbg 0.5.0 (built: Sep 13 2018 13:45:02)
PHP 7.2.10-0ubuntu0.18.04.1, Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.10-0ubuntu0.18.04.1, Copyright (c) 1999-2018, by Zend Technologies

[2019-01-12 08:07] SilverFire commented on #3124
Nope

[2019-01-12 08:10] SilverFire commented on #3124
Nope, it's not stale

[2019-01-12 18:06] yya commented on #3306
Since php 7.2 it is not possible to set 'user' save handler by ini_set().
s. https://github.com/php/php-src/blob/php-7.2.14/ext/session/session.c#L559

When running tests with `processIsolation=true` and `preserveGlobalState=true` then PHPUnit tries to backup all the php ini-settings with `ini_get_all` (s. `PHPUnit\Util\Globalstate.php`):

[code]

 In the isolated process PHPUnit sets all php-ini-

[2019-01-13 05:41] sebastianbergmann commented on #3306
@yya Please open a new ticket for this.

[2019-01-13 16:28] yya opened #3475 "Tests not executed and marked as correct when running in process isolation and using custom session handler"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.3.0
| Installation Method | Composer

Since php 7.2 It is explicitly forbidden to set the module name to "user". Formerly, this has been silently ignored.
please s. changelog part here: http://php.net/manual/en/function.session-module-name.php
s. https://github.com/php/php-src/

[2019-01-13 20:56] epdenouden commented on #3419
@weltling thanks for the update! I will update our AppVeyor settings to match :)

[2019-01-14 06:12] daveh opened #3477 "Alternative to the now-abandoned dbunit extension?"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.2.10
| Installation Method | Composer

I just installed the dbunit extension using Composer, and I get the following message:

`Package phpunit/dbunit is abandoned, you should avoid using it. No replacement was suggested.`

I've seen the issue on the extension being abandoned,

[2019-01-14 06:32] sebastianbergmann commented on #3477
No, there is not.

[2019-01-14 06:32] #3477 closed

[2019-01-14 06:33] sebastianbergmann commented on #3419
@epdenouden Thanks for taking care of this.

[2019-01-14 10:43] RobQuistNL commented on #1975
@nicholasalexander-knect365 Same problem here, but solved it by using environment variables;
[code]

and in code
[code]

Combined with listeners; https://stackoverflow.com/a/30170762/1493455

[2019-01-14 12:06] epdenouden commented on #3419
@weltling Am I correct that the file (for example) `php-7.3-nts-Win32-VC15-x64-latest.zip` is only available as a direct link, but not shown the directory listing? I noticed that the file that is downloaded has a different name than the URL, which causes our CI to fail as it assumes the name to be the same.

I'll fix this on our end but as an end user I do find this implementation of the `some-pac

[2019-01-14 13:00] sebastianbergmann commented on #3473
Test no longer fails after http://git.php.net/?p=php-src.git;a=commitdiff;h=d0fd2be64234d978e62fb27d6012087514550e71.

Thank you, @nikic.

[2019-01-14 13:00] #3473 closed

[2019-01-14 17:14] luispabon commented on #3159
Bump?

[2019-01-14 19:16] slaughter550 opened #3480 "Proposed Fix of Return value of PHPUnit\Framework\TestCase::getExpectedExceptionMessage() must be of the type string, null returned"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.2.11
| Installation Method | Composer

In `https://github.com/sebastianbergmann/phpunit/blob/7.5/src/Framework/TestCase.php`, there are the following variable declarations

[code]

and the following getters

[code]

Due to the fact that both `expectedExceptionMessage` and `expe

[2019-01-15 07:56] localheinz opened #3482 "Dumping Xdebug filter script requires resolving relative paths when phpunit.xml is not in root directory"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.1
| PHP version         | 7.1.24
| Installation Method | Composer

### `test/Unit/phpunit.xml`

[code]

### `Makefile`

[code]

When I run

[code]

I end up with

[code]

### `.build/phpunit/xdebug-filter.php`

The generated filter script looks like this:

[code]

When I modify it to

[code]

and disable

[2019-01-15 08:09] sebastianbergmann commented on #3482
Are you sure this is not a duplicate of #3456?

[2019-01-15 08:16] localheinz commented on #3482
@sebastianbergmann

Ha, you are right, it is a duplicate of #3456.

Thank you!

[2019-01-15 09:50] Soullivaneuh commented on #3301
Adding my two cents: Talking about `--dump-xdebug-filter`, it would be great if the generated PHP script warn us when the `xdebug_set_filter` function does not exist.

Currently, it just silently does not a thing and we won't obviously check this part.

[2019-01-15 09:56] sebastianbergmann commented on #3301
There is not really something we can do about this (that makes sense), I am afraid.

If your Xdebug does not have `xdebug_set_filter()` then you are missing out on not just this feature but also on quite a few bug fixes. Just saying :-)

[2019-01-15 10:59] narekps commented on #3369
What to use instead?

[2019-01-15 12:14] sebastianbergmann commented on #3369
@narekps https://github.com/sebastianbergmann/phpunit/issues/3369#issue-373445499 links to https://github.com/sebastianbergmann/phpunit/issues/3368.

[2019-01-15 12:55] sAnexeh commented on #3419
@epdenouden we've added a `latest` folder (https://windows.php.net/downloads/releases/latest/) to reflect the availability of these downloads. They're now rewritten instead of redirected in IIS so the filename will stay the same. You'll have to update the AppVeyor settings to match the new URL.

I hope this better matches what you were looking for.

[2019-01-15 13:31] epdenouden commented on #3419
@sAnexeh cool, thanks! I will update our CI config

[2019-01-15 14:34] jsweiss commented on #3457
add Mockery to your CalculatorTest.php file
[code]
Then, change your setup from
[code]
to
[code]
Output:
[code]
You should also add a tearDown() function
[code]

[2019-01-15 15:31] simPod commented on #3016
Is there a way to mark it as a non risky and therefore make coverage count?

[2019-01-15 15:36] edruid commented on #3016
Well what I resorted to is the idiotic `$this->assertTrue(true);` at the end of the test...

[2019-01-17 09:13] gdsmith commented on #3301
Is there any comparison of this versus running `phpunit` through `phpdbg` which I've seen give some performance improvements.

Eg:
[code]
(options `q`uiet `rr`un and quit)

[2019-01-17 09:19] sebastianbergmann commented on #3301
`phpdbg` might be faster but in my experience the data it provides is less accurate that the data provided by Xdebug. Which is why I do not care about `phpdbg` at this point in time.

[2019-01-17 09:47] gdsmith commented on #3301
That's interesting, thanks, do you have any more info on those accuracy issues?

[2019-01-17 14:22] Stanislav2014 commented on #2853
Hi! I have trooble.
Run this  "make test
composer run-script phpunit tests

PHPUnit 7.5.2 by Sebastian Bergmann and contributors.

..Segmentation fault (core dumped)
Script phpunit handling the phpunit event returned with error code 139
Makefile:8: recipe for target 'test' failed
make: *** [test] Error 139"

[2019-01-19 09:09] #3060 closed

[2019-01-19 09:09] #3236 closed

[2019-01-19 09:10] #3482 closed

[2019-01-19 23:55] k-gun opened #3489 "Error running on console"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2.13 (7.2.13-1+ubuntu16.04.1+deb.sury.org+1)
| Installation Method | PHAR

Running like that, OK;

`/usr/share/php# ./phpunit --version`
`/usr/share/php# ./phpunit`

But that;
`/usr/share/php# phpunit --version`
`/usr/share/php# phpunit`

So, when I run `phpunit` without `./` i

[2019-01-20 05:38] sebastianbergmann commented on #3489
It appears that you have different installations of PHPUnit mixed up.

For instance, you may have used Composer to install PHPUnit and have configured the autoloader generated by Composer as PHPUnit's bootstrap script but then you invoke PHPUnit using an executable other than `vendor/bin/phpunit`.

[2019-01-20 05:38] #3489 closed

[2019-01-20 11:15] keradus commented on #3236
nice, @sebastianbergmann !

[2019-01-20 22:50] tyea opened #3491 "Odd Behaviour When Trying To Mock Class"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2.10
| Installation Method | Composer

Hi, I'm getting odd behavior when trying to mock a class. When I add a constructor (even an empty one) to this class PHPUnit behaves normally again. I've read the documentation on mocking (or doubles as they're properly known) and I can't

[2019-01-21 05:02] sebastianbergmann commented on #3491
You are using PHP 4-style constructors.

[2019-01-21 05:02] #3491 closed

[2019-01-21 10:32] panosru opened #3492 "No code coverage driver available when using @runInSeparateProcess"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2.8
| Installation Method | Composer

Hello, when I use `@runInSeparateProcess` in a test I’m getting a fatal error `Fatal error: Uncaught SebastianBergmann\CodeCoverage\RuntimeException: No code coverage driver available` but xdebug is properly installed.

[code]

This is how

[2019-01-21 10:33] sebastianbergmann commented on #3492
Please only report issues for stable versions of PHPUnit.

[2019-01-21 10:48] panosru commented on #3492
@sebastianbergmann I have updated to latest stable `7.5.2`, same result. I have updated my original post.

Thanks!

[2019-01-21 11:44] panosru commented on #3492
@sebastianbergmann I have done it here: https://github.com/panosru/phpunit-debug

you can run:
[code]

The result I got:
[code]

[2019-01-21 15:09] panosru commented on #3492
@sebastianbergmann To add more info to the topic,

My development environment is on MacOS (10.13.6), I have installed MAMP, and I'm using MAMP's PHP version as the default:

![image](https://user-images.githubusercontent.com/400362/51482198-77980300-1d9e-11e9-94e5-96d2cf161e62.png)

MacOS has a built-in PHP binary, do you think it might be conflicting with PHPUnit isolated test runs? From what I s

[2019-01-22 11:25] theofidry opened #3493 "self referencing data providers"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2+
| Installation Method | Composer & PHAR

Given the following test:

<details>
<summary>DemoTest.php</summary>

[code]
</details>

Will yield:

[code]

So you can see that the `$this` value reference changes between when the provider is called (hence when the `$this` is used

[2019-01-22 13:29] sebastianbergmann opened #3494 "Deprecate assertArraySubset()"
The `assertArraySubset()` method is a constant source of confusion and frustration. For example, see #2069, #2108, #2568, #3101, #3234, #3240, or #3319.

I have come to the conclusion that this mess cannot be fixed without breaking backward compatibility. In addition to that, I myself have yet to see a use case for this or how this would be used then. I have also not seen this used in the wild.

T

[2019-01-22 13:29] sebastianbergmann opened #3495 "Remove assertArraySubset()"
The `assertArraySubset()` method is a constant source of confusion and frustration. For example, see #2069, #2108, #2568, #3101, #3234, #3240, or #3319.

I have come to the conclusion that this mess cannot be fixed without breaking backward compatibility. In addition to that, I myself have yet to see a use case for this or how this would be used then. I have also not seen this used in the wild.

T

[2019-01-22 13:54] #3494 closed

[2019-01-22 15:16] Macaret opened #3496 "PHPUnit not executing in Drupal Pipeline"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 6.5.13
| PHP version         | 7.2.4
| Installation Method | Composer

I'm trying to execute unit tests in a Drupal Gitlab-CI Pipeline.

[code]

[code]

Or if I do the following:

[code]

I've tried anything could come to mind, of course running the command upgrade, installing phpunit by phar, etc.

[2019-01-22 15:22] sebastianbergmann commented on #3496
This is not a discussion or support forum, sorry.

[2019-01-22 15:22] #3496 closed

[2019-01-24 11:48] D43M0NT00L5 opened #3498 "Unable to chain a @dataProvider in method a with a @depends in method b"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2
| Installation Method | Composer
|System |Ubuntu 18.10
|DE |PHPStorm
|doctrine/instantiator              |1.1.0
|myclabs/deep-copy                 |1.8.1
|phar-io/manifest                   |1.0.3
|phar-io/version                    |2.0.1
|phpdocumentor/reflection-common

[2019-01-24 11:53] epdenouden commented on #3498
@D43M0NT00L5 Thanks for the report. If you can clean up the code example above a bit, I will have a look later today.

[2019-01-24 12:50] epdenouden commented on #3498
@D43M0NT00L5 Can you please explain the example a bit? Both `testEmpty` and `dataprovider` provider return something that you call a stack. Myself I hardly ever `return` values from a test, although I know `@depends` can be used to pass return values from one test to the next.

What do you want your example to output?

[2019-01-24 14:13] KartaviK opened #3500 "Dependency input for test is null if depends method have dataProvider"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.3.0
| Installation Method | Composer

## Composer info

[code]

Code example:

[code]

If this is incorrect from the provider's logic and test dependencies, how can even implement this idea?

[2019-01-24 14:26] KartaviK commented on #3500
I solved this problem by removing depends:
[code]

But by my opinion this solution is not elegant.

[2019-01-24 14:34] D43M0NT00L5 commented on #3498
if I try the shown code, I get an exception message.  TestPop is waiting for the parameter "stack" an array, but TestPush can't return a correct value to TestPop. So on the exception massage says "null" was given by TestPush.

The example should show three things I recognized:
First: all functions get called.
Second: in TestPush the dataprovider sets the parameter "stack" of TestPush not the depen

[2019-01-27 02:05] nickclasener commented on #46
Is it possible to set this in phpunit.xml?

[2019-01-27 05:00] MatthewSH commented on #3495
I just started really focusing on unit testing and I was actually looking for this functionality. For me, it makes sense and is useful.

In this test, I'm testing an array of arrays (friends). I always know one element will exist, however it's failing for the following reason.

![Test failure](https://i.imgur.com/AWSRGRT.png)

The response will look like this (with surrounding elements of course):

[2019-01-27 09:06] #3388 closed

[2019-01-28 11:23] Canadadry opened #3501 "returnValueMap only working when mocking stdClass"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2.1
| Installation Method | Composer

**Edit:**

I have read [#1745](https://github.com/sebastianbergmann/phpunit/issues/1745) which give me the solution.

It seems that I am not the only one facing this issue. Maybe a bit more of information on the documentation could help oth

[2019-01-28 11:56] Canadadry commented on #3501
I have updated  my comment with the solution.

[2019-01-28 11:56] Canadadry commented on #3501
I have updated my comment with the solution.

[2019-01-28 11:56] #3501 closed

[2019-01-28 18:18] filips123 commented on #3320
What is the latest version that supported HHVM? Does it support namespaced test syntax (available after PHPUnit 4.8.36)?

[2019-01-29 01:11] #3188 closed

[2019-01-29 17:09] sebastianbergmann commented on #2726
I can no longer reproduce this.

[code]
[code]
[code]

[2019-01-29 17:09] #2726 closed

[2019-01-29 20:22] epdenouden commented on #2726
Yes, #3454 included a fix for this.

[2019-01-30 15:11] SergeyBiryukov opened #3502 "Numeric @ticket or @group annotations no longer work"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 7.5.2
| PHP version         | 7.2.14
| Installation Method | PHAR

In WordPress project, a lot of tests include a [`@ticket` annotation with a numeric ticket ID](https://make.wordpress.org/core/handbook/testing/automated-testing/writing-phpunit-tests/#annotations), for example:
[code]
A test with this annotat

[2019-01-30 16:04] epdenouden commented on #3498
@D43M0NT00L5 Yes, I did see your explanation and tried the example locally. I do see the same errors  but I am not completely sure what the expected use result _should be_. Maybe @sebastianbergmann can also chime in here.

The simple reason the code throws an error right now is a result of the design of the runner: `testPush` is a test with a `@dataprovider` which get transformed into a `Dataprovi

[2019-01-31 06:38] sebastianbergmann commented on #3502
@willemstuursma Can you have a look, please?

[2019-01-31 09:13] koriym commented on #3016
Same here with `$this->expectNotToPerformAssertions();`

[2019-01-31 10:39] epdenouden commented on #3502
@sebastianbergmann @willemstuursma if Willem is busy with other things I can make a fix

[2019-01-31 10:43] epdenouden commented on #3502
Okidoki, will do!

[2019-01-31 10:46] Ravim-addweb commented on #183
@temple - that is correct and I wonder there is no concrete solution for this yet.

[2019-01-31 12:41] willemstuursma commented on #3502
Thanks @epdenouden!

[2019-01-31 14:44] sebastianbergmann opened #3503 "Clean up configuration of error handler"
PHPUnit registers an error handler that converts `E_WARNING` etc. to exceptions. This error handler can be configured through configuration directives such as `convertWarningsToExceptions`.

Internally, when `convertWarningsToExceptions="false"` is configured in `phpunit.xml`, for instance, `PHPUnit\Framework\Error\Warning::$enabled` is set to `false`. This is a legacy from the earliest days of PH

[2019-02-01 05:44] sebastianbergmann opened #3504 "Test Failure"
While working to release PHPUnit 8.0.0, `/usr/local/src/phpunit/tests/end-to-end/requires-skip-code-location-hints.phpt` suddenly started failing:

[code]

@epdenouden Can you have a look, please?

[2019-02-01 08:20] epdenouden commented on #3504
That is really weird. Will fix it today. Btw, the output is from 7.5.3 it says. Same for 8.x?

[2019-02-01 08:55] epdenouden commented on #3504
So far I have no answer, I tried:
- only `RequirementsTest` and the whole collection
- with and without prettified output
- my own and your fork

The failing tests are the only two that test **invalid** version constraint:
- `testVersionConstraintInvalidPhpConstraint`
- `testVersionConstraintInvalidPhpUnitConstraint`

[code]

[code]

I'd almost think the `UnsupportedVersionConstraintException` was

[2019-02-01 09:05] epdenouden commented on #3504
Not sure what's up yet, but _something_ is different with the exception handling of invalid version constraints. In the current output they are seen as warnings, not skipped, and also do not have a location hint.

The error you seems to be related to exception handling or masking. I will investigate further around lunchtime. So weird this suddenly pops up. Do you have any tooling, temporary edits

[2019-02-01 13:11] epdenouden commented on #3504
@sebastianbergmann Do you have a way of reproducing this? I tried the following:
[code]

[2019-02-01 13:11] remicollet opened #3506 "PHP options should be passed to child processes"
| Q                   | A
| --------------------| ---------------
| PHPUnit version     | 8.0.0
| PHP version         | 7.2.14
| Installation Method | Composer

Playing with pcov...

When enabled (in php.ini), everything OK
[code]

When disabled globally, and only enabled in command line, it fails

[code]

With some errors like: "_No code coverage driver available_"
[code]

[2019-02-01 13:12] epdenouden commented on #3504
I will make a pull request for a better catching mechanism for these exception, so we can show code location hints and friendlier 'skip' status. Other than that I cannot reproduce the fatal error :(

[2019-02-01 13:15] remicollet commented on #3506
@krakjoe  FYI

[2019-02-01 13:20] sebastianbergmann commented on #3504
I can no longer reproduce this.

[2019-02-01 13:20] #3504 closed

[2019-02-01 13:31] krakjoe commented on #3506
We're going to need to search argv for -d's ...

Maybe related to #3492

[2019-02-01 13:38] krakjoe commented on #3506
Well it's more complicated than searching argv ... thinking ...

[2019-02-01 13:55] krakjoe commented on #3506
Can't get it from server API either, it strips -d's as it processes them ...

[2019-02-01 14:05] krakjoe commented on #3506
Something like this in Runtime::getBinary is my first working idea ?

[code]

Or we could add some other method to runtime to get args, and call that from AbstractPHPProcess ...

[2019-02-01 14:14] krakjoe commented on #3506
This may be more forward compatible and supports xdebug too but I still don't love it ...

[code]

What's odd is the `local_value` and `global_value` from `ini_get_all` seem to be the same all the time ...

[2019-02-01 15:33] epdenouden commented on #3459
@MaxSem PHPUnit 6.5.14 has just been released and I noticed the Mediawiki `composer.json` picking it up as expected:

![image](https://user-images.githubusercontent.com/26651359/52132295-1fcf8680-263f-11e9-9d1d-082ec653a240.png)

[2019-02-01 16:50] krakjoe commented on #3506
I got another idea, maybe parse out the loaded ini file and only add what doesn't match the ini ?

[2019-02-01 17:59] krakjoe commented on #3506
So here's what I got, I think this isn't too bad ...

This in Runtime:

[code]

and this in AbstractPhpProcess::getCommand

[code]

This is working for xdebug and pcov ...

Any thoughts ?

[2019-02-02 06:54] remicollet commented on #3506
For Pcov, "production" default is enabled=0, and was thinking to use is this way, using the command line option.

For XDebug, this is a bit different, as there is no "enable" option (may have to be enable using -d zend_extension=xdebug, but this can be another issue because of extension load order).

[2019-02-02 07:47] krakjoe commented on #3506
There is `coverage_enable` in xdebug too